@charset "utf-8";

*{font-family: 'Pretendard';}

/*왼쪽메뉴*/
html, body{background:#f3f5f6;}
.web_wrap{width: 100%; position: relative;}
.left_menu_acco{width:280px;position:fixed; background:#FFF; height: 100%; box-shadow: 2px 4px 8px 0px #2934390A;}
.content_box{ padding:30px; padding-left: 310px; box-sizing: border-box; }


.home_logo_box{width:100%; padding:40px;box-sizing: border-box; text-align: center; border-bottom: 1px solid #eee;;}
.menu_icon{width:20px; height:20px; margin-right: 8px; }
.menu_icon img{width: 100%;}
.home_logo{width: 200px; margin:0 auto;}
.home_logo img{width: 100%}

.left_menu_ul{clear: both; width:100%;max-height: 66vh; overflow-y: auto;}
.left_menu_li{width:100%;transition: 0.3s; position: relative; }
.left_menu_btn{display: block;padding:10px; box-sizing: border-box;transition: 0.3s; font-size:18px; font-weight: bold; margin-top: 20px;}
.left_menu_icon{background-position: left 20px top 7px; background-repeat: no-repeat; background-size: 25px; }

.left_menu_icon01{background-image: url(/static/img/web/dashboard.png);}
.left_menu_icon02{background-image: url(/static/img/web/talk.png);}
.left_menu_icon03{background-image: url(/static/img/web/people.png);}
.left_menu_icon04{background-image: url(/static/img/web/notice.png);}
.left_menu_icon05{background-image: url(/static/img/web/system.png);}

.left_menu_li:first-child .left_menu_btn{margin-top: 00px;}
.left_menu_li:last-child .left_menu_btn{padding-bottom: 20px;}

.left_menu_li:last-child .left_menu_line{display: none;}



.left_menu_line{display: none; width: 60px; height: 1px; background:#000; margin-left: 20px}
.menu_active_bg{width:5px; background:#fff;height: 39.5px;position: absolute; top: 0;left: 0;z-index: 1;transition: 0.3s;}

.logout_btn{display:block; width:calc(100% - 40px); height:50px; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); border-radius:8px; transition: 0.3s;
background-image: url('/static/img/web/logout_icon.png'); background-position: left 15px center; background-repeat: no-repeat; background-size: 20px; font-size: 16px;
font-weight:500; color:#727272; line-height: 50px; padding-left: 50px; box-sizing: border-box;}
.logout_btn:hover{background-color:#f3f3f3; color:#000;background-image: url('/static/img/web/logout.png');}



.left_menu_box{padding:0 20px; box-sizing: border-box;padding-top:20px}
.left_menu_titbox{padding:15px 0; box-sizing:border-box; }
.left_menu_tit{font-size:15px; color:#000;}
.left_menu_page_btn{display: block; font-size: 14px; padding:12px; box-sizing: border-box; width:100%; transition: 0.3s; margin-bottom: 8px; border-radius: 8px; font-weight:500;
color:#666;}
.left_menu_page_btn:last-child{margin-bottom: 0;}
.left_menu_page_btn:hover{background-color:#f3f5f6;}





/*로그인*/
.login_wrap{display:block;width:100%; position: relative;}
.login_center_box{display: flex; flex-direction: column; align-items: center;    height: 100vh;justify-content: center;}

.center_tbox img{width:100%;}
.log_cont01{background-color:#333; width:550px; height:100vh; position: absolute; top:0; left:0; background-image: url('/static/img/opener/left_login_bg.png');
background-repeat: no-repeat; background-position: center; background-size: cover;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.center_tbox{width:250px;}

.log_cont02{padding:100px; box-sizing: border-box; padding-left:650px; width:100%;}
.login_logo{width:250px; margin: 0 auto;}
.login_logo img{width: 100%;}
.login_tit_eng{font-size: 26px;  text-align: left; font-weight: 400; margin-bottom: 40px; color:#9ca2a9;}
.login_tit{font-size: 68px;  letter-spacing: 3px; text-align: left;}
.input_title{padding-bottom:8px; font-size: 18px; font-weight: 700;}
.input_title_box{margin-bottom: 15px;}
.input_title_box03{display: flex; flex-direction: row; align-items: center;}
.input_title_box03 .ck_text{padding-left: 8px; cursor: pointer;display:block}

.login_tit_inpbox{max-width: 400px;;}


.log_cont_logo{display: block; width: 250px;}
.log_cont_logo img{ width: 100%;}
.log_cont_txt{font-size: 22px;padding-left: 15px;}
.log_cont_tbox{position: absolute; bottom: 15px; left: 15px;}


/*공통 CSS*/
/* Check */
.ck { width:24px; height:24px; opacity: 0; top:0; left:0; position: absolute;border:0; padding:0; margin:0; cursor: pointer;}
.ck + .ck_btn {
display:inline-block;  background-image: url('/static/img/opener/no_check_icon.png'); background-size:18px; width:24px; height:24px;
 background-repeat: no-repeat; background-position: center; transition: 0.3s;cursor: pointer;}
.ck + .ck_btn_height{height:auto;}
.width_24px{width:24px; height: 24px;;}
.ck:checked + .ck_btn {background-image: url('/static/img/opener/n_check_icon.png');}
.ck_text{font-size: 15px; font-weight:500;; color:#999;}


.hover_table tr{ transition: 0.3s;cursor: pointer;}
.hover_table tr td{ transition: 0.3s;}
.hover_table tr:hover td{ background:#f6f6f6;}


button{box-sizing: border-box; outline: none;  border:0;}

.btn{width:100%; height:40px;border-radius: 8px; display:block; font-size:13px; font-weight:600; padding:0 8px; transition: 0.3s;}

.btn_save{font-size:15px; font-weight: 600;min-width: 60px; min-height: 45px; background:#2e3192; color:#fff;}
.btn_save:hover{background:#0d0f42;} 
.btn_cancel{font-size:15px; font-weight: 600;min-width: 60px; min-height: 45px; background:#fff; color:#999}
.btn_cancel:hover{background:#f3f3f3;} 
.pop_btn_cancel{font-size:15px; font-weight: 600;min-width: 60px; min-height: 45px; background:rgb(204, 204, 204); color:rgb(29, 29, 29)}
.pop_btn_cancel:hover{background:#dfdfdf;} 

.btn_small{width:100%; height:32px;border-radius: 8px; display:block; font-size:12px; font-weight:700; padding:0 8px; transition: 0.3s;}





.right_btn_box{display: inline-block; position: absolute; right:0; top:-2px;}

.btn_blue{background:#dadcff; color:#3c3f70;border: 1px solid #bec0e1;}
.btn_blue:hover{background:#b8bdff;}
.btn_blue:disabled{opacity: 0.5; background:#dadcff !important;}

.btn_gray{background:#f3f3f3; color:#49555a;border: 1px solid #dbdbdb;}
.btn_gray:hover{background:#d5d3d3;}
.btn_gray:disabled{opacity: 0.5; background:#dadcff !important;}

.btn_red{background:#ffb8b8; color:#b94e4e;border: 1px solid #e3b2b2;}
.btn_red:hover{background:#e3acac;}
.btn_red:disabled{opacity: 0.5; background:#dadcff !important;}

.margin_top_20{margin-top: 20px;}
.margin_top_8{margin-top: 8px;}
.margin_bottom_12{margin-bottom: 12px;}
.margin_bottom_16{margin-bottom: 16px;}
.margin_bottom_20{margin-bottom: 20px;}
.dis_flex_row{display: flex; flex-direction: row;}
.dis_flex_center{align-items: center; }
.dis_flex_right{    justify-content: flex-end;}
.dis_flex_bottom_end{align-items: flex-end;}
.dis_flex_end{justify-content: space-between; }
.dis_flex_row_justify{justify-content: center;}
.dis_flex_column{display: flex; flex-direction: column;}
.dis_flex_btn_center{display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.dis_flex_btn_center_top{display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; }
.dis_inblock{display: inline-block;vertical-align: middle;}
.padding0{padding: 0;}
.padding16{padding: 16px; box-sizing: border-box;}

.datetimepicker .datepicker-nav .datepicker-nav-previous, .datetimepicker .datepicker-nav .datepicker-nav-next{background:#00d1b2 !important;}

/* 스크롤 */
::-webkit-scrollbar { width: 5.2px; height:5.2px;} /* 스크롤 바 */
::-webkit-scrollbar-track { background-color:#ccc; } /* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb { background: #999; border-radius: 10px; } /* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb:hover { background: #404040; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:active { background: #808080; } /* 실질적 스크롤 바를 클릭할 때 */
::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */


.inp_style{ height: 40px;border-radius: 8px; outline: none; border:1px solid #dbdbdb; min-width: 170px;box-sizing: border-box; width:100%; ;font-family: 'Pretendard', sans-serif;}
.login_inp_style{ height: 50px;border-radius: 4px; outline: none; border:2px solid #dbdbdb; min-width: 170px;box-sizing: border-box; width:100%; 
    font-size: 16px;;font-family: 'Pretendard', sans-serif; font-weight: 500;}
.inp_style.date{background-image:url('/static/img/opener/calendar_icon.png'); background-repeat: no-repeat; background-position: left 8px center; background-size:20px;
padding-left: 36px;}
.inp_style.search{background-image:url('/static/img/opener/search_icon.png'); background-repeat: no-repeat; background-position: left 8px center; background-size:20px;
    padding-left: 36px;}
.sel_style{width:100%; height: 40px;border-radius: 8px; outline: none; border:1px solid #dbdbdb; min-width: 170px;box-sizing: border-box;width:100%;}

input:read-only{background:#F3F5F6;  border:1px solid #e3e3e3 !important;}
input:disabled{background:#F3F5F6;  border:1px solid #e3e3e3 !important; color:#8998A0 !important;}

.setup_title{font-size:14px; font-weight:bold; margin-bottom: 8px;display: block;}

input{font-size:14px; box-sizing: border-box; padding:0 8px;outline: none;}
input:placeholder{color:#ABB4B9; transition:0.3s; font-size:45px;}
input:focus{border-color: #ffacaf;}
select{font-size:14px; box-sizing: border-box; padding:0 12px;
    -webkit-appearance: none; 
   -moz-appearance: none;    
   appearance: none;
background-image:url('/static/img/web/drop_arrow.png'); background-repeat: no-repeat; background-position: right 14px center; background-size:10px;}

select:placeholder{color:#ABB4B9; transition:0.3s; font-size:14px;}
select:focus{border-color: #ffacaf;}

.default_btn{display: block; border-radius: 8px; border: 0; height:40px; text-align: center; background-color:#ff6066; color:#fff; font-weight:600; width:100% ; 
    padding: 0 8px; box-sizing: border-box; transition: 0.3s;}
.default_btn:hover{background-color: #fe4047;}

.default_btn:disabled{background-color:#ccc; color:#666;}

.default_btn_big{display: block; border-radius: 4px; border: 0; height:50px; text-align: center; background-color:#ff6066; color:#fff; font-weight:600; width:100% ; 
    padding: 0 8px; box-sizing: border-box; transition: 0.3s; font-size:16px;}
.default_btn_big:hover{background-color: #fe4047;}

.default_btn_big:disabled{background-color:#ccc; color:#666;}

.default_btn_gray{display: block; border-radius: 8px; border: 0; height:40px; text-align: center; background-color:#f3f5f6; color:#424a4d; font-weight:600; width:100% ; 
    padding: 0 8px; box-sizing: border-box; transition: 0.3s;}
.default_btn_gray:hover{background-color: #ddd;}

.default_btn_gray:disabled{background-color:#ccc; color:#666;}

.default_btn_white{display: block; border-radius: 8px; border: 0; height:40px; text-align: center; background-color:#fff; color:#9ca2a9; font-weight:600; width:100% ; 
    padding: 0 8px; box-sizing: border-box; transition: 0.3s;}
.default_btn_white:hover{background-color: #eee;}

.default_btn_clean{display: block; border-radius: 8px; border: 0; height:40px; text-align: center; background-color:#0cd5dc; color:#fff; font-weight:600; width:100% ; 
    padding: 0 14px; box-sizing: border-box; transition: 0.3s;}
.default_btn_clean:hover{background-color: #0ab3b9;}

.default_btn_clean:disabled{background-color:#ccc; color:#666;}

.default_btn_sm{display: block; border-radius: 6px; border: 0; height:30px; text-align: center; background-color:#f3f5f6; color:#424a4d; font-weight:600; width:100% ; 
    padding: 0 12px; box-sizing: border-box; transition: 0.3s; border:0;}
.default_btn_sm:hover{background-color: #ddd;}

.default_btn_sm:disabled{background-color:#ccc; color:#666;}

.icon_btn{display: block; border-radius: 8px; border: 0; width:44px; height:44px; text-align: center; background-color:#fff; color:#424a4d; font-weight:600; 
    padding: 0 8px; box-sizing: border-box; transition: 0.3s; border:1px solid #ddd;}
.icon_btn:hover{background-color:#f6f6f6;}
.icon_btn.excel{background-image:url('/static/img/opener/excel_icon.png'); background-repeat: no-repeat; background-position:center; background-size:22px;}
.icon_btn_txt_left{display: block; border-radius: 8px; border: 0;  padding-right:8px; padding-left: 36px; height:44px; text-align: center; background-color:#fff; color:#424a4d; font-weight:600; 
   box-sizing: border-box; transition: 0.3s; border:1px solid #ddd; }
.icon_btn_txt_left.excel{background-image:url('/static/img/opener/excel_icon.png'); background-repeat: no-repeat; background-position:left 8px center; background-size:20px;}
.icon_btn_txt_left.download{background-image:url('/static/img/opener/download_icon.png'); background-repeat: no-repeat; background-position:left 8px center; background-size:20px;}
.icon_btn_txt_left.refresh{background-image:url('/static/img/opener/refresh_icon.png'); background-repeat: no-repeat; background-position:left 8px center; background-size:20px;}
.icon_btn_txt_left:hover{background-color:#f6f6f6;}


.room_link_btn{width:50px; height:50px; border:0; border-radius: 50%; background-color:#ddd; box-shadow: 2px 4px 8px 0px #2934390a;margin-right: 20px;;
display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 12px; font-weight: 600; transition: 0.3s; color:#111;}
.room_link_btn .room_link_icon{display:block; width:16px; height: 16px; background-repeat: no-repeat; background-position: center; background-size: 100%;
background-image: url('/static/img/mobile/door/bluetooth_off.png');margin-bottom: 4px;}
.room_link_btn.on{background-color:#ff6066; color:#fff;}
.room_link_btn.on .room_link_icon{background-image: url('/static/img/mobile/door/bluetooth_on.png');}
.room_link_btn:disabled{background-color:#ddd; }



.sel_style{width:100%; box-sizing:border-box;border-radius:8px; border:1px solid #dbdbdb;height:40px;padding:0 8px;outline:none;
    -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image:url('/img/opener/drop_icon.png'); background-repeat:no-repeat;
    background-position:right 8px center; background-size:8px; background-color:#fff;color:#000;}
  .key_list_sel::-ms-expand { display: none;}

.text_center{text-align: center;}
.text_left{text-align: left;}
.text_right{text-align: right;}

.right_contbox{padding:30px;padding-left: 310px; padding-top:60px;box-sizing: border-box; width: 100%; min-width:1580px;}
.main_cont_tit{font-size: 28px;}

.total_numbox{margin-bottom: 12px;}
.total_num_tit{color:#9ca2a9; font-size: 18px; font-weight: 600; text-align: right;}
.total_num_tit_sub{color:#9ca2a9; font-size: 15px; font-weight: 600;}
.total_num_tit_box .total_num_tit{margin-right:8px;}
.total_num_tit_box .total_num_tit:last-child{margin-right: 0;;}


.total_tab_box{}
.total_tab{font-size:14px; font-weight: 500; margin-right: 8px; padding:4px 12px; background-color:#ddd; border-radius:100px; color:#999; cursor: pointer; transition: 0.3s;}
.total_tab:hover{background-color:#d1d1d1;}
.total_tab.active{color:#fff; background-color:#ff6066;}
.total_tab:last-child{margin-right:0;}
.total_tab.active.js{background-color:#F4B200;}
.total_tab.active.gs{background-color:#46589A;}
.total_tab.active.cl{background-color:#0cd5dc;}
.total_tab.active.dt{background-color:#10b120;}


.total_tab_num{display: block; width:17px; height:17px;background-color:#fff; text-align: center; ;line-height: 17px; border-radius: 50%; margin-left:8px;}
.total_tab.active.js .total_tab_num{color:#F4B200;}
.total_tab.active.gs .total_tab_num{color:#46589A;}
.total_tab.active.cl .total_tab_num{color:#0cd5dc;}
.total_tab.active.cl .total_tab_num{color:#10b120;}


.room_state_box{position: absolute; top:0 ;left:0;}
.room_state{font-size:14px; font-weight: bold; margin-right: 8px; padding:5px 12px; border-radius:0 0 10px 0; cursor: pointer; transition: 0.3s; color:#fff; display: inline-block;}
.room_state.js{background-color:#F4B200;}
.room_state.gs{background-color:#46589A;}
.room_state.cl{background-color:#0cd5dc;}
.room_state.dt{background-color:#10b120;}


.wcont_box{width:100%; padding:30px; box-sizing: border-box; border-radius: 12px; box-shadow: 2px 4px 8px 0px #2934390A; background-color:#fff;}
.table_over_stylebox{border:1px solid #f6f6f6; box-shadow: 2px 4px 8px 0px #2934390A; border-radius:12px; overflow: hidden;}

.table_header{position: relative; z-index: 1; width:100%; box-shadow: 2px 4px 8px 0px #2934390A;}

.table_list{width: 100%; table-layout: fixed; border-collapse: collapse;}
.table_list_th{padding:14px; font-size: 14px; font-weight: 600; color:#9ca2a9;    vertical-align: middle;}
.table_list_td{padding:14px; color:#333;; font-size: 14px; font-weight: 400;    vertical-align: middle;}
.table_list_td > p{ font-size: 14px;}
.table_list_td .table_list_td_ok{color:#0ca8ff;}
.table_list_td .table_list_td_no{color:#ff0000;}
.table_body tr{border-bottom:1px solid #eee;}
.table_body tr:nth-child(2n){background-color:#fbfbfb;}
.table_body tr:last-child{border-bottom: 0;}


.data_search_grp{margin-right: 12px; width:100%;}
.data_search_grp:last-child{margin-right: 0px;}


.inp_moving_widthbox .inp_moving_width{margin-right: 8px; }
.inp_moving_widthbox .inp_moving_width:last-child{margin-right: 0;}

.inp_moving_widthbox06 .inp_moving_width02{min-width: 60px;}


.view_grp{width:100%; display: flex; flex-direction: column;}

.view_grp_listbox{ display: flex; flex-direction: row; column-gap: 1%; flex-wrap: wrap;}
.view_grp_list{width:15.83%; padding:20px; box-sizing: border-box; background-color:#fff; border-radius: 12px; box-shadow: 2px 4px 8px 0px #2934390a; margin-top: 15px;;
cursor: pointer; transition: 0.3s; position: relative;; padding-top:40px;}
.view_grp_list.js{border:5px solid #F4B200;}
.view_grp_list.gs{border:5px solid #46589A;}
.view_grp_list.cl{border:5px solid #0cd5dc;}
.view_grp_list.dt{border:5px solid #10b120;}

.view_grp_list:hover{box-shadow: 2px 4px 8px 0px #2934394a;}
.view_tit_grp{width: 100%; display:flex; flex-direction: row; align-items: center; justify-content: space-between;}
/* .view_tit_box{width:100%; } */



.view_tit01{font-size: 20px;}
.view_tit02{font-size: 16px; font-weight:400; color:#9ca2a9 }
.view_tit_js{background:#F4B200;}
.view_tit_gs{background:#46589A;}
/* .view_tbox{width:100%;} */
.view_tbox02{display: flex; flex-direction: row;justify-content: space-between;}
.view_txt02{color:#9ca2a9; font-weight: 500;}

.view_tbox03{display: flex; flex-direction: row; margin:14px 0;    column-gap: 1%;}
.key_tbox{width:100%; margin-right:8px; display: flex; flex-direction: column;}
.key_tbox:last-child{margin-right: 0;}

.key_icon{display: block; width:50px; height:50px;  background-repeat: no-repeat; background-position: center;
background-size:100%; margin: 0 auto; margin-bottom: 4px;}
.key_tbox.on .key_icon01{background-image: url('/static/img/opener/key_icon_on.png');}
.key_tbox.off .key_icon01{background-image: url('/static/img/opener/key_icon_off.png');}
.key_tbox.on .view_txt01{color:#ff6066;}
.view_grp_list.off .key_icon01{background-image: url('/static/img/opener/key_icon_off.png');}
.key_tbox.off .view_txt01{color:#999;}
.view_grp_list.off .view_txt01{color:#999;}
.view_txt01{width:100%; text-align: center; font-weight:700; font-size:13px;}

.key_tbox.on .key_icon02{background-image: url('/static/img/opener/password_icon_on.png');}
.key_tbox.off .key_icon02{background-image: url('/static/img/opener/password_icon_off.png');}
.view_grp_list.off .key_icon02{background-image: url('/static/img/opener/password_icon_off.png');}

.key_tbox.on .key_icon03{background-image: url('/static/img/opener/password_icon_on.png');}
.key_tbox.off .key_icon03{background-image: url('/static/img/opener/password_icon_off.png');}
.view_grp_list.off .key_icon03{background-image: url('/static/img/opener/password_icon_off.png');}








.main_cont_btn_grp .main_cont_width{margin-right:8px;}
.main_cont_btn_grp .main_cont_width:last-child{margin-right:0px;}


.tab_list_box{width:100%; padding:4px; border-radius: 8px; background-color:#f3f5f6;box-sizing:border-box;}
.tab_list{width:100%; margin-right: 8px;;}
.tab_list:last-child{margin-right: 0;}
.tab_list.active{background-color:#fff; border-radius: 8px;box-shadow: 2px 4px 8px 0px #29343917;}
.tab_list .tab_list_btn{    display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center ; padding:0 8px;  height:32px; color:#afb3b5;
font-weight:600;}
.tab_list.active .tab_list_btn{color:#ff6066; }
.pagebtn_grp_box{width:100%; display: flex; flex-direction: column;justify-content: center;align-items: center; margin-top:20px;}

.pagebtn{display: inline-block; padding:6px 0px; box-sizing:border-box; margin-right:4px; transition: 0.3s; border-radius: 8px; height:31px; width: 31px;text-align: center;}
.pagebtn:hover{background-color:#eee;;}
.pagebtn.active{background-color:#ff6066; color:#fff;}

.pagebtn.prev{background-image: url(/static/img/opener/prev_icon.png); background-repeat: no-repeat; background-position: center; background-size: 12px;}
.pagebtn.next{background-image: url(/static/img/opener/next_icon.png); background-repeat: no-repeat; background-position: center; background-size: 12px;}
.pagebtn:last-child{margin-right:0}


.popup_wrap{width:100%; height:100%; position:fixed; top:0; left:0; background-color:rgba(0,0,0,0.5); display: flex; flex-direction: column; align-items: center; 
    justify-content: center; z-index: 9;}
.popup_contbox{min-width: 880px; max-width: 1280px; border-radius: 12px; background-color:#fff;box-shadow: 2px 4px 8px 0px #29343926;}
.popup_header_grp{border-bottom: 1px solid #eee;;}
.popup_header{padding:20px 30px; box-sizing: border-box; }
.popup_header_tabgrp{width:100%;}

.popup_header_li{transition: 0.3s;}
.popup_header_li.active{border-bottom: 4px solid #111;box-sizing: border-box; }
.popup_header_li:hover{background-color:#eee;}
.popup_header_li_btn{padding:20px 15px; box-sizing: border-box ; font-size: 18px;font-weight: 600; display: block; color:#afb3b5; transition: 0.3s;}
.popup_header_li.active .popup_header_li_btn{color:#111; }



.popup_header .view_tbox03{margin:0;     column-gap: 0%; margin-right:12px;}
.popup_header .view_tbox03 .key_tbox{display: flex; flex-direction: row; align-items: center;  width:auto; padding:4px 12px; border-radius:100px}
.popup_header .view_tbox03 .key_icon{width:16px; height:16px; margin-right:8px; margin-bottom: 0;}
.popup_header .view_tbox03 .key_tbox.on{background-color:#ff6066;}
.popup_header .view_tbox03 .key_tbox.off{background-color:#d9d9d9;}
.popup_header .view_tbox03 .key_tbox.on .key_icon{background-image: url('/static/img/opener/w_key_icon_on.png');}
.popup_header .view_tbox03 .key_tbox.on .view_txt01{color:#fff;}
.popup_header .view_tbox03 .key_tbox.off .key_icon{background-image: url('/static/img/opener/g_key_icon_off.png');}

.popup_header .view_tbox03 .key_tbox.on .key_icon02{background-image: url('/static/img/opener/w_password_icon_on.png');}
.popup_header .view_tbox03 .key_tbox.off .key_icon02{background-image: url('/static/img/opener/g_password_icon_off.png');}
.popup_header .view_tbox03 .key_tbox.on .key_icon03{background-image: url('/static/img/opener/w_password_icon_on.png');}
.popup_header .view_tbox03 .key_tbox.off .key_icon03{background-image: url('/static/img/opener/g_password_icon_off.png');}
.popup_header .view_tbox03 .view_txt01{width:auto;}

.popup_title{margin-right:12px;}
.popup_title01{font-size:34px;}
.popup_title02{font-size:24px; font-weight: 400; color:#9ca2a9;}
.popup_title03{font-size:16px; font-weight: 500; margin-right: 8px; padding:4px 14px;border-radius:100px; cursor: pointer; transition: 0.3s; color:#fff}
.popup_title03.js{background-color:#F4B200;}
.popup_title03.gs{background-color:#46589A;}
.popup_title03.cl{background-color:#0cd5dc;}
.popup_title03.dt{background-color:#10b120;}



.popup_close{width: 40px; height:40px; display:block; background-image: url('/static/img/opener/cancel_icon.png'); background-repeat: no-repeat ; background-position: center;
    background-size: 10px; background-color:#f3f5f6; border-radius: 8px; transition: 0.3s;}
.popup_close:hover{background-color:#e3e3e3;}


.popup_body{padding:20px; box-sizing: border-box; display: flex; flex-direction: column; background-color:#f3f5f6;max-height: 60vh; overflow-y: auto;}
.popup_body .table_over_stylebox{background-color:#fff;}

.pop_cont_tbox{margin-bottom: 20px;}
.pop_cont_tit{font-size:22px;}
.pop_cont_box{width:100%; padding:20px; box-sizing: border-box; border-radius: 12px; background-color:#fff;box-shadow: 2px 4px 8px 0px #2934390a;}
.pop_cont_sub_tbox{width:100%; padding-bottom: 12px; border-bottom: 1px solid #eee;}
.pop_cont_sub_tit{font-size:16px;}

.pop_cont_input_grp{margin-top:12px;}
.pop_cont_input_box{margin-right:8px; width:100%;}
.pop_cont_input_box:last-child{margin-right:0;}
.pop_cont_box01{margin-bottom: 20px;;}
.pop_cont_sub_box .pop_cont_box{ margin-bottom: 0; margin-right: 20px;}
.pop_cont_sub_box .pop_cont_box:last-child{margin-right: 0;}

.pop_cont_input_grp01 .pop_cont_input_box04{max-width:200px;}


.pop_cont_input_grp_key .pop_cont_input_box02{max-width: 150px;}
.pop_cont_input_grp_key .pop_cont_input_widthbox{width:100%;}
.pop_cont_input_grp_key .pop_cont_input_width{width: 100%; margin-right:8px;}
.pop_cont_input_grp_key .pop_cont_input_width02{max-width: 60px;}
.pop_cont_input_grp_key .pop_cont_input_width:last-child{margin-right: 0;}


.popup_footer{width: 100%; padding:20px 30px; box-sizing: border-box;}

.popup_btn_width{margin-right: 8px; min-width: 60px;}
.popup_btn_width:last-child{margin-right: 0;}

.pop_total_numbox{margin-bottom: 20px;;}
.pop_cont_tit_right{margin-right: 12px;;}

.pop_table_over_stylebox .table_body_scroll{max-height: 40vh; overflow-y: auto;}

.empty_txt_box{width:100%; padding:50px 0;}
.empty_txt_box .table_list_none{text-align: center; font-size:14px; color:#9ca2a9;}


.pop_table_widthbox{width:100%;}
.pop_table_width{width:50%; margin-right: 20px;}
.pop_table_width:last-child{margin-right: 0;;}

.memo_tr_tbox td{background-color:#dadde1;}
.memo_tr_tbox td h2{}
.memo_tr_tbox td p{font-size: 14px;font-weight: 500; color:#666;word-wrap:break-word;}

.pop_table_contbox{padding:16px; width:100%; box-sizing: border-box; border-radius: 12px;box-shadow: 2px 4px 8px 0px #2934390a; background-color:#fff;}
.pop_table_cont_tbox{padding:12px; border:1px solid #dbdbdb;border-radius: 8px; min-height: 180px;max-height: 180px; overflow-y: auto; box-sizing: border-box;}
.pop_table_cont_tbox .pop_table_cont_txt{font-size: 14px;font-weight: 500; color:#ff0000;word-wrap:break-word;}






.main_cont_width_inpgrp {margin-right:20px;}
.main_cont_width_inpgrp:last-child{margin-right: 0;}

.main_cont_width_inptit{font-weight: 700; font-size: 14px;}

.main_cont_width_inp{margin-right: 8px;}
.main_cont_width_inp:last-child{margin-right: 0;}

.main_cont_width_inp03 {width: 60px;}
.main_cont_width_inp03 button{width: 100%;;}

.max_width_200{max-width: 200px;}

.connect_txt{font-size: 16px;;}