@charset "utf-8";

*{font-family: 'Pretendard';}

/*왼쪽메뉴*/
html, body{background:#f3f3f3;}
.web_wrap{width: 100%; position: relative;}
.left_menu_acco{width:280px;position:fixed; background:#FFF; height: 100%; box-shadow: 2px 4px 8px 0px #2934390A;}
.content_box{ padding:30px; padding-left: 310px; box-sizing: border-box; }


.home_logo_box{width:100%; padding:40px;box-sizing: border-box; text-align: center;}
.menu_icon{width:50px; display: none;}
.menu_icon img{width: 100%;}
.home_logo{width: 150px; margin:0 auto;}
.home_logo img{width: 100%}

.left_menu_ul{clear: both; width:100%;max-height: 66vh; overflow-y: auto;}
.left_menu_li{width:100%;transition: 0.3s; position: relative; }
.left_menu_btn{display: block;padding:10px; box-sizing: border-box;transition: 0.3s; font-size:18px; font-weight: bold; margin-top: 20px; padding-left: 60px;}
.left_menu_icon{background-position: left 20px top 7px; background-repeat: no-repeat; background-size: 25px; }

.left_menu_icon01{background-image: url(/static/img/web/dashboard.png);}
.left_menu_icon02{background-image: url(/static/img/web/talk.png);}
.left_menu_icon03{background-image: url(/static/img/web/people.png);}
.left_menu_icon04{background-image: url(/static/img/web/notice.png);}
.left_menu_icon05{background-image: url(/static/img/web/system.png);}

.left_menu_li:first-child .left_menu_btn{margin-top: 00px;}
.left_menu_li:last-child .left_menu_btn{padding-bottom: 20px;}

.left_menu_li:last-child .left_menu_line{display: none;}



.left_menu_line{display: none; width: 60px; height: 1px; background:#000; margin-left: 20px}
.menu_active_bg{width:5px; background:#fff;height: 39.5px;position: absolute; top: 0;left: 0;z-index: 1;transition: 0.3s;}

.logout_btn{display:block; width:calc(100% - 40px); height:50px; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); border-radius:8px; transition: 0.3s;
background-image: url('/static/img/web/logout_icon.png'); background-position: left 15px center; background-repeat: no-repeat; background-size: 20px; font-size: 16px;
font-weight:500; color:#727272; line-height: 50px; padding-left: 50px; box-sizing: border-box;}
.logout_btn:hover{background-color:#f3f3f3; color:#000;background-image: url('/static/img/web/logout.png');}




.left_menu_li:hover{background:#f6f6f6;}
.left_menu_li:hover{  color:#2e3192;}

.left_menu_li:hover .menu_active_bg{  background:#2e3192;}
.left_menu_li:hover .left_menu_btn{  color:#2e3192;}

.left_menu_li.active .menu_active_bg{  background:#2e3192;}
.left_menu_li.active .left_menu_btn{  color:#2e3192;}

.left_menu_li:hover .left_menu_icon01{background-image: url(/static/img/web/dashboard2.png);}
.left_menu_li:hover .left_menu_icon02{background-image: url(/static/img/web/chat2.png);}
.left_menu_li:hover .left_menu_icon03{background-image: url(/static/img/web/people2.png);}
.left_menu_li:hover .left_menu_icon04{background-image: url(/static/img/web/notice2.png);}
.left_menu_li:hover .left_menu_icon05{background-image: url(/static/img/web/system2.png);}


.left_menu_li.active .left_menu_icon01{background-image: url(/static/img/web/dashboard2.png);}
.left_menu_li.active .left_menu_icon02{background-image: url(/static/img/web/talk3.png);}
.left_menu_li.active .left_menu_icon03{background-image: url(/static/img/web/people2.png);}
.left_menu_li.active .left_menu_icon04{background-image: url(/static/img/web/notice2.png);}
.left_menu_li.active .left_menu_icon05{background-image: url(/static/img/web/system2.png);}

.left_menu_subbox{width:100%; margin-top:0px;}
.left_menu_sub_list{width:100%;}
.left_menu_sub_btn{display: block; font-size: 15px; color:#727272;transition: 0.3s;padding:10px 40px;}
.left_menu_sub_btn:hover{color:#000; font-weight: 600;}
.left_menu_sub_btn.active{color:#000; font-weight: 600;}
.pointer_left{width:5px; height: 5px; background:#9f9f9f; display: inline-block;vertical-align: middle;margin-top: -2px; border-radius: 50%; margin-right: 8px;transition: 0.3s;}

.left_menu_sub_btn:hover .pointer_left{background:#000;}
.left_menu_sub_btn.active .pointer_left{background:#000;}


/*로그인*/
.login_wrap{display:block;box-sizing:border-box; background:#FFF; border-radius: 12px; box-shadow: 0px 2px 4px 0px #29343914; overflow: hidden;
position: fixed; top:50%; left:50%; transform: translate(-50%, -50%); min-width: 400px; height:500px;}
.log_cont01{width: 600px; height:500px; background-image: url('/static/img/web/login_bg02.png'); background-size: cover; 
    position:relative;background-repeat: no-repeat; background-position: right -50px center;}
.log_cont02{padding:70px 40px; box-sizing: border-box; width: 350px;} 
.login_logo{width:250px; margin: 0 auto;}
.login_logo img{width: 100%;}
.login_tit{font-size: 58px; margin-bottom: 15px; text-align: center; letter-spacing: 3px;}
.input_title{padding-bottom:8px; font-size: 13px;}
.input_title_box{margin-bottom: 15px;}
.input_title_box03{display: flex; flex-direction: row; align-items: center;}
.input_title_box03 .ck_text{padding-left: 8px; cursor: pointer;}

.log_btn{display: block; width: 100%; border-radius: 8px; height: 40px; text-align: center; background:linear-gradient(90deg, #2e3192, #585dcb); color:#fff; line-height: 40px; font-size: 15px;
    font-weight: bold;}

.log_cont_logo{display: block; width: 250px;}
.log_cont_logo img{ width: 100%;}
.log_cont_txt{font-size: 22px;padding-left: 15px;}
.log_cont_tbox{position: absolute; bottom: 15px; left: 15px;}


/* 테이블 자료없을때 */
.empty_td{text-align: center; background:#fff !important}
.empty_td:hover{background:#fff !important}
.empty_td:active{background:#fff !important}
.empty_td_txt{text-align: center; padding:130px 0; color:#d0d0d0;}
/* 채팅 바로 가기 */
.chat_count_icon{ position: fixed; bottom: 20px; right: 20px; width:100px; height: 100px; border-radius: 50%; background-color: rgba(46,49,149, 0.85);
    box-shadow: 2px 4px 8px 0px #2934390A; display: flex; display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
.chat_count_talk_icon{ width: 60px; height: 60px;}
.chat_count_talk_icon img{width: 100%;;}
.notice_color{display: block ; position:absolute; top: 15px; right: 15px; background-color: #ff0000; border-radius: 50%; color:#fff; font-size: 16px; font-weight: bold;
width: 30px; height: 30px; text-align: center; line-height: 30px;}

/*채팅 리스트*/

.cont_li01{width:500px; margin-right:20px}
.cont_tit{font-size: 28px; margin-bottom:16px}
.cont_list_tbox{border-bottom:1px solid #eee; box-sizing:border-box; padding:30px 40px; padding-bottom: 14px}

.cont_li02{width:calc(100% - 520px); }
.cont_li02 .cont_shadow_box{overflow: hidden}


.list_ulbox{max-height:  535px; overflow-y: auto;}
.list_li{transition: 0.3s; cursor: pointer; padding:15px 20px; box-sizing: border-box; border-bottom: 1px solid #ddd;}
.list_li:last-child{border-bottom: 0;}
.list_li:hover{background:#f6f6f6;}
.list_li:active{background:#e4e4e4;}
.list_li.active{background:#f6f6f6;}
.datarow.active{background:#faebd7;}
/* 재희추가 */
.list_li.selectLi{background-color: #eee;}
/* 재희추가 */
.user_contbox01{width:60px; margin-right:16px;align-items: center;display: flex;flex-direction: row;}
.profile_img{width:60px; height: 60px; border-radius: 50%; background-color: #ddd; display: block;    background-image: url(/static/img/web/def_user_icon.png);
    background-color: #DDD;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}
.user_contbox02{width:calc(100% - 184px); margin-right:8px;}
.user_contbox_tit{font-size:18px; padding-bottom: 2px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.user_contbox_txt{font-size:14px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.user_contbox03{text-align: right; width:93px; margin-left:8px;padding:0px 0; box-sizing: border-box;}

.info_p{display:flex; flex-direction: row; color:#666;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.info_p em{margin-right: 8px; font-weight: 500;}
.info_p em:last-child{margin-right:0;}
.info_p_em01{}
.user_contbox_time{font-size:13px; font-weight: 500; color:#aaa;}
.user_contbox_talk{font-size:14px; font-weight: bold; background:#ff0000; color:#fff;width: 25px; height: 25px; display: block; text-align: center;
line-height: 25px;border-radius: 50%; float: right; margin-top:4px }

.wait_list_ulbox{width:100%;display: flex; justify-content: center;align-items: center;flex-direction: column; height:535px;}
.none_chatting_icon{width: 80px; height: 80px; margin-bottom: 20px;}
.none_chatting_icon img{width: 100%;}
.wait_list_txt{display: flex; justify-content: center;align-items: center; color: #c7c5c5; font-weight: 500; font-size: 16px;}
.none_chat_cont_box{width:100%;display: flex !important; justify-content: center;align-items: center; flex-direction: column;}
.none_chat_icon{width: 80px; height: 80px; margin-bottom: 20px;}
.none_chat_icon img{width: 100%;}
.none_chat_txt{font-size: 22px; font-weight: 500; color: #c7c5c5; }


/* 진행상황 */
.progress_grp_tit{font-size:18px;width:120px;}
.progress_grp_bar{width:calc(100% - 120px); height:23px; border-radius: 50px; background:#e6e6e6; margin-top:3px; position: relative;
overflow: hidden;}
.progress_grp_gage{position: absolute; top:0; left: 0; border-radius: 50px; height: 100%; transition:0.3s; }

.progress_color01{color:#ed1e79; font-weight: bold; display: inline-block;}
.progress_color02{color:#ff1515; font-weight: bold; display: inline-block;}
.progress_color03{color:#8482ff; font-weight: bold; display: inline-block;}
.progress_color04{color:#0071bc; font-weight: bold; display: inline-block;}

.progress_grp_gage01{background:linear-gradient(45deg, #ed1e79, #eb86b2); }
.progress_grp_gage02{ background:linear-gradient(45deg, #ff1515, #ff9fa3);}
.progress_grp_gage03{background:linear-gradient(45deg, #8482ff, #cfceff); }
.progress_grp_gage04{ background:linear-gradient(45deg, #0071bc, #73bbeb);}

.progress_bar{width:0%;}
.percent_txt{color:#fff; font-weight:bold; padding-left: 12px; box-sizing: border-box; line-height: 23px;}


.cont_shadow_box_850px{height: 850px;}
.cont_shadow_box_943px{height: 943px;}



/* AS 채팅 내역*/

.chat_cont_top_tbox{padding:20px 40px; box-sizing: border-box; border-bottom: 1px solid #eee; position: relative;}
.profile_text_right{margin-left: 12px}
.cont_right_tit{font-size: 22px;}



.chat_cont_box{padding:20px;width:100%; box-sizing:border-box; display:table; position:relative;padding-bottom:56px;}
.chat_body_box{padding:30px 40px; box-sizing: border-box; height: 100%; padding-bottom: 29px; max-height: 785px; overflow-y: auto;} 
.cont_shadow_box_658px{height: 638px;}
.top_notice_txtbox{position: relative;}
.progress_all_num{position: absolute; right: 0; top:50%;  transform: translateY(-50%); color:#666; font-size:14px}


.chat_send_box{display:flex; flex-direction: row;max-width:40%;clear:both; position:relative; margin-bottom:20px;}
 .chat_send_box:last-child{margin-bottom:0;}



 .chat_send_left{float:left;}
 .chat_send_left .chat_send_cont{float:left;}
 .chat_send_left .chat_send_profile{width:45px; height:45px; margin-right:8px; display:inline-block; background-image:url('/static/img/web/def_user_icon.png');background-color:#DDD;
 background-repeat:no-repeat; background-position:center; background-size:cover;border-radius:50%;}
 .chat_send_left .chat_send_text{width:calc(100% - 53px);}
 .chat_send_left .chat_send_div{border-radius:0 12px 12px 12px; margin-top:4px; background:#f6f6f6;}
 .chat_send_left .chat_send_time{right:-40px;}
 
 
 .chat_send_listbox{width:100%; margin-top:16px;}
 .chat_send_list{width:100%; height:40px; margin-bottom:8px; line-height:40px; text-align:center; border-radius:8px; font-weight:bold; background:#fff; color:#2e3192; cursor: pointer;}
 .chat_send_list:last-child{margin-bottom:0;}
 
 .chat_send_right{float:right;}
 .chat_send_right .chat_send_cont{}
 .chat_send_right .chat_send_text{width:100%;}
 .chat_send_right .chat_send_div{border-radius:12px 0px 12px 12px; margin-top:0px;background:#2e3192;}
 .chat_send_right .chat_send_txt{color:#fff;}
 .chat_send_right .chat_send_time{left:-40px;}
 
 
 .name_txt{font-weight:bold;}
 .chat_send_txt{font-size:14px;}
 .chat_send_div{background:#fff;padding:16px; box-shadow: 0px 2px 4px 0px #29343914;}
 .chat_send_time{position:absolute; bottom:0; font-size:12px;color:#aaa;}
 
 .chat_send_imgbox{max-width:250px;position:relative;}
 .chat_send_imgbox:after{ content: ""; display: block; padding-bottom: 100%; box-sizing:border-box;overflow:hidden; width:180px;}
.chat_send_img{position: absolute; width: 100%; height: 100%;box-sizing:border-box;
background-image:url('/static/img/web/door/test_img.png'); background-repeat:no-repeat; background-position:center; background-size:100%;}

.bottom_pic_cont{width:48px;}
.bottom_pic_li{width:40px; height: 40px; margin-right: 8px;}
.bottom_pic_btn{display: block;width: 40px; height: 40px; border-radius: 8px;background-color:#f4f4f4;  color:#3a5d5d; transition: 0.3s;
background-repeat: no-repeat; background-position: center; background-size: 30px; transition: 0.3s;}
.bottom_pic_btn:hover{background-color: #e6e6e6;}
.bottom_image{background-image: url(/static/img/web/image_icon.png);}
.bottom_pic{background-image: url(/static/img/web/camera_icon.png);}

.bottom_btn_icon{background-repeat: no-repeat; background-position: center; background-size: 18px; width:22px; height: 22px;transition: 0.3s;}

.bottom_btn_icon01{background-image: url(/static/img/web/btn_check.png)}
.bottom_btn_icon02{background-image: url(/static/img/web/btn_error.png)}

/* .bottom_btn_icon01:hover{background-image: url(/static/img/web/hv_check.png)}
.bottom_btn_icon02:hover{background-image: url(/static/img/web/hv_error.png)} */


.bottom_textbox{width:100%; position:absolute; bottom:0; left:0; z-index:1; background:#fff;padding:8px; box-sizing:border-box;  box-shadow: 0px -2px 4px 0px #29343914;}
.bottom_textbox .bottom_text_cont{float:left;}
.bottom_textbox .bottom_text_inpbox{width:calc(100% - 138px); height:40px; border-radius:8px; }
.bottom_textbox .bottom_text_btn{width:80px; height:40px; margin-left:8px; border-radius:8px; background:#2e3192; color:#fff;text-align:center;line-height:40px; cursor: pointer;
font-weight:bold;transition:0.3s;}
.bottom_textbox .bottom_text_inp{width:100%; box-sizing:border-box;border-radius:8px; border:1px solid #D0D6D9;height:40px;padding:0 8px;outline:none;}
.bottom_btn_listbox{position: absolute; top:50%; transform: translateY(-50%); right: 40px}
.bottom_btn_ul{width:100%; }
.bottom_btn_li{height:40px; margin-right: 8px;}
.bottom_btn_li:last-child{margin-right: 0px;}
.bottom_btn{    padding: 8px 14px;
    display: block;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    background: #fff;
    color: #8e9295;
    transition: 0.3s;}
.bottom_btn img{width: 22px;display: block; margin: 0 auto;}







.chat_pop_wrap{width:100%; height:100%; position:fixed; top:0; left:0; background-color:rgba(0,0,0,0.45); z-index:9;}

.chat_pop_ul{ position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:#fff; border-radius:12px;box-shadow: 0px 2px 4px 0px #29343914;
display: flex; flex-direction: row; padding:30px 0px; min-width:230px;}
.chat_pop_list{padding:0 25px; box-sizing:border-box; border-right:1px solid #eee;width:50%;}
.chat_pop_list:last-child{border-right:0;}
.chat_pop_icon{width:40px; height:40px;  display:block;  margin:0 auto;}
.chat_pop_icon img{width:100%;}
.chat_pop_tit{text-align:center; margin-top:8px;}
.cont_tit{    font-size: 28px;margin-bottom: 16px;}







/* 공지사항 */
.cont_tit_box_padding20{ box-sizing: border-box; position: relative;}
.cont_tit_box{padding:30px 40px;padding-bottom:0;}
.cont_tit_box_padding20 .cont_tit{padding-bottom: 16px;border-bottom: 1px solid #666; margin-bottom: 0;}
.edit_btn{width: 50px; height: 50px; position: absolute; top: 50%; transform: translateY(-50%);
    border-radius: 50%; right: 40px; background-color:#2e3192;color: #fff; text-align: center; line-height: 60px;
background-repeat: no-repeat; background-position: center; background-size: 30px; background-image: url(/static/img/web/more2.png);}
.table_shbox{padding:30px 40px; background:#f7f8f9; box-sizing: border-box;}

.table_sh_listbox{padding-right: 20px;}
.table_sh_listbox:last-child{padding-right: 0;}

.table_sh_tabbtn{font-size: 15px; color:#999;}
.table_sh_listbox.active .table_sh_tabbtn{color:#000;}


.table_shbox{width:100%;}
.table_sh_list01{width:calc(70% - 8px); margin-right: 16px}
.table_sh_list02{width:calc(30% - 8px);}

.sh_inpbox_tit{font-size:18px; padding:6px 0;}
.sh_inpbox{width:100%;}
.sh_inpbox01{width:48px}
.sh_inpbox02{width:calc(33.3333% - 96px);}
.sh_inpbox03{width: 48px; text-align: center; font-size: 22px; font-weight: bold; padding: 10px 0;}
.sh_inpbox04{width:88px; text-align: right; padding-right:8px;}


.table_notice_padding{padding:30px 40px; padding-top: 0;}
.table_top_padding{padding:30px 40px; padding-top: 0; padding-bottom: 0;z-index: 1; position: relative;box-shadow: 2px 4px 8px 0px #29343914;}
.table_hdbox thead{z-index: 9; position: relative; }
.table_hdbox th{border-bottom: 0 !important; }
.table_body_scroll{height: 650px; overflow-y: scroll;}

.table_th{text-align: left; font-size:18px; font-weight: bold; padding:25px 10px; border-bottom: 1px solid #000;}
.table_td{text-align: left;  padding:11px 10px;}
.table_td .table_td_txt{font-size:15px; font-weight:400;}
.table_notice tr .table_td{border-bottom: 1px solid #e4e4e4}
.table_notice tr:last-child .table_td{border-bottom: 0;}
.table_td_ms_icon{width:40px; height: 40px; margin-right: 8px;background-repeat: no-repeat; background-position: center; background-size: 25px;}
.table_td_bef .table_td_ms_icon{background-image: url('/static/img/web/mailc.png')}
.table_td_aft .table_td_ms_icon{background-image: url('/static/img/web/mailo.png')}
.table_td_bef .table_td{color:#000; font-weight: 500;} 
.table_td_aft .table_td{color:#555; font-weight: 300;}

.table_td_txt_none{color:#999;}

/* .cont_shadow_box_800px{height: 895px} */
.jj_title{font-size: 18px; text-align: center; display: inline-block; padding: 4px 12px; box-sizing: border-box; background-color:#2e3192; color:#fff; border-radius: 30px;
margin: 0 auto;}

/* 아래 숫자 클릭 */
.numbtn_list_grp{width:100%; text-align:center; margin-top:20px; box-sizing:border-box; filter: drop-shadow(2px 4px 8px rgba(41, 52, 57, 0.04));}
.numbtn_list_box{text-align:center; display:inline-block;}
.numbtn_list_box .numbtn_list_li{float:left; margin-left:8px; width:30px;}
.numbtn_list_box .numbtn_list_li button{border-radius:5px;}
.numbtn_list_box .numbtn_list_li p{transition:0.3s;}
.numbtn_list_box .numbtn_list_li:first-child{margin-left:0; width: auto;}
.numbtn_list_box .numbtn_list_li:last-child{ width: auto;}

.pagebtn_hover_style:hover{background:#FAFAFA;}
.pagebtn_hover_style:hover p{color:#fff}
.pagebtn_hover_style:active{background:#5b5eb9;}

.numbtn_list_li.selected button{background:#fff !important;}
.numbtn_list_li.selected p{color:#00BB71 !important;}

.button_num_btn{ height: 30px; width: 30px; padding:0 3px; transition:0.3s; background-color:#fff; color:#8998A0;
display:inline-block;vertical-align:middle; text-align:center;outline:none;border:0;box-sizing:border-box;position: relative;
font-family: Pretendard; font-size: 13px; font-style: normal; font-weight: 600; line-height: 16px; letter-spacing: 0em;}
.button_num_btn:hover{background-color:#2e3192; color:#fff;}
.button_num_btn.active{background-color:#2e3192; color:#fff;}
.button_num_btn:active{background-color:#5b5eb9;}
.button_num_btn:disabled{background-color:#E2E7E9; color:rgba(137,152,160,0.4);}
.button_num_btn:disabled svg{opacity: 0.4;}

.button_num_btn_arr{width: auto; padding:0 10px;color:#b6b7b7;}

.edit_form{width: 100%; padding: 30px 40px; box-sizing:border-box;}

.edit_form_title_box{width:100%;}
.edit_form_width01{width:calc(70% - 8px); margin-right: 16px;}
.edit_form_width02{width:calc(30% - 8px);}

.setup_tit{font-size: 14px; font-weight: bold; display: block; margin-bottom: 10px;}

.edit_body_box{width:100%;}
.edit_body_form{ border:1px solid #dbdbdb; min-height: 350px; border-radius: 8px}

.bottom_edit_btnbox{ text-align: center; width: 100%;}


.bottom_edit_ulbox{display: inline-block; }
.bottom_edit_list{float:left; margin-right: 12px;}
.bottom_edit_list:last-child{margin-right: 0;}
.bottom_edit_btn{display: block; padding:12px  20px; transition: 0.3s; border-radius: 50px; min-width: 160px; box-sizing: border-box;
font-size: 15px; font-weight:500; height: 45px}
.bottom_edit_list01 .bottom_edit_btn{background:#2e3192; color:#fff; }
.bottom_edit_list02 .bottom_edit_btn{color:#91989c; border: 1px solid #ABB4B9; padding:11px  20px;}

.bottom_edit_list01 .bottom_edit_btn:hover{background:#5b5eb9; }
.bottom_edit_list02 .bottom_edit_btn:hover{color:#91989c; border: 1px solid #ABB4B9; background:#eee; }

.check_icon{width: 18px; margin-right: 8px;}
.check_icon img{width: 100%;}


.edit_file_list01{width:120px; margin-right: 8px; }
.upload_btn{width:100%; display:block; height: 40px; line-height: 40px;  text-align: center; border-radius: 8px;
background:#f4f4f4;  color:#3a5d5d; font-weight: 500; transition: 0.3s;}
.upload_btn:hover{background: #e6e6e6}
.edit_file_list02{width:calc(100% - 128px);}

.upload_icon{width:20px; margin-right: 4px;}
.upload_icon img{width:100%; display: block;margin-top: -2px}


/* 게시글 */
.notice_borad_box{padding:30px 40px; box-sizing: border-box; width:100%;}
.notice_cont_top_tbox{ width:100%;position: relative;}
.notice_profile_text_right{margin-left: 12px}
.notice_cont_right_tit{font-size: 22px;}
.notice_cont_right_txt{color:#ABB4B9;}
.people_cont_num{font-size:14px; font-weight: 500; color:#ABB4B9; position: absolute; top:0px; right: 0;}
.image_upload{width:100%;}
.image_upload img{display:block; width: 100%; max-width: 1280px;}
.text_upload_tbox > p{font-size: 14px; color:#333}

.comment_box{width:100%;  box-sizing: border-box; border-radius: 12px}

.comment_cont_top_tbox{ width:100%;position: relative;}
.comment_profile_text_right{margin-left: 12px; vertical-align: top; display: inline-block; margin-top:8px}
.comment_cont_right_tit{font-size: 18px; margin-right:8px;}
.comment_cont_right_txt{color:#ABB4B9;}

.text_area_box{margin-top: 8px; margin-left: 12px; width: 100%;}
.text_area_box .textarea_style{width:100%; box-sizing:border-box;}

.comment_listbox{border-bottom:1px solid #ddd; box-sizing:border-box; padding-bottom: 20px; margin-top: 20px;}
.comment_listbox:first-child{margin-top:0;}
.comment_listbox:last-child{border-bottom:0; padding-bottom: 0}

.comment_tbox01{width:62px;}
.comment_tbox02{width:calc(100% - 74px);}

.comment_btnbox{width: 100%; text-align: right;}
.comment_btnbox .comment_ulbox{display: inline-block; float: right; margin-top: 12px}
.comment_libtn{float:left; margin-right: 8px;}
.comment_libtn:last-child{margin-right: 0px;}

.comment_btn{padding:8px 14px; display: block; border-radius: 8px; border:1px solid #e3e3e3;background:#fff; color:#8e9295;transition: 0.3s;}
.comment_btn:hover{ color:#333;}



/* 회원관리 */

.top_right_btnbox{position:absolute; right:40px; top:30px;}
.top_right_list{float:left; margin-right: 12px; min-width: 80px;} 
.top_right_list:last-child{margin-right: 0;}

.table_th .ck_txt{ margin-right: 8px;;}
.ck { width:18px; height:18px; opacity: 0; top:0; left:0; position: absolute;border:0; padding:0; margin:0; cursor: pointer;}
.ck + .ck_btn {cursor: pointer;
display:inline-block;  background-image:url('/static/img/web/checkbox_no.png'); background-size:20px; width:20px; height:20px; background-repeat: no-repeat; background-position: center; transition: 0.3s;
}
.ck:checked + .ck_btn {
	background-image:url('/static/img/web/checkbox_check.png');
}

.table_td_center{text-align: center;;}

/* 회원관리 > 회원상세 */
.popbox_back{display: block; z-index: 99; background-color: rgba(0,0,0,0.4); position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow-y: auto;}
.pop_cont_box{width:900px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background:#fff; border-radius: 10px; }
.pop_cont_small_box{width:500px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background:#fff; border-radius: 5px; }
.pop_body_box{padding:20px; box-sizing: border-box; background:#f3f3f3; width: 100%; }
.pop_header_box{box-shadow: 2px 4px 8px 0px #2934390A; width:100%;position: relative;}
.pop_tit_box{width:100%;padding:30px 30px 20px; box-sizing:border-box; position: relative;}
.pop_cancel_btn{display: block; width:40px; height:40px; position: absolute; right: 30px;top:30px; background-image: url('/static/img/web/close_icon.png'); background-repeat: no-repeat;
background-position: center; background-size: 24px; }
.pop_cont_tit{font-size: 27px;}

.pop_foot_box{width:100%; display: table; padding:30px; box-sizing: border-box;}
.pop_foot_btnbox{display: inline-block; float:right;}
.pop_foot_btn_list{float:left; margin-right: 8px;}
.pop_foot_btn_list:last-child{margin-right: 0;}

.pop_tab_listbox{display: table;}
.pop_tab_list{float:left; position: relative;}
.pop_tab_btn{padding:20px 20px; display: block; font-size: 18px; font-weight: 600; color:#aaa; transition: 0.3s;}
.pop_tab_btn:hover{color:#666;}
.pop_tab_list.active .pop_tab_btn{color:#000;}
.tab_line{width:0px; position: absolute; bottom: 0; left:50%; transform: translateX(-50%); height: 3px; background:#000; transition: 0.3s;}
.pop_tab_list.active .tab_line{width: 100%;}
.profile_list{ margin-right: 20px; display:flex;}
.profile_list01{width:calc(45% - 10px);}
.profile_list02{width:calc(55% - 10px);}
.profile_list:last-child{margin-right: 0;}
.block_cont_tbox{width: 100%; position: relative ;box-sizing: border-box;  }
.block_cont_tbox_grp{  justify-content: space-between; border-bottom:1px solid #dfdfdf; width:100%;}
.block_cont_tbox_grp .block_cont_tit{ border-bottom:0;}
.block_cont_tit{font-size: 18px;padding-bottom: 15px;; border-bottom:1px solid #dfdfdf;}
.block_inp_box{margin-top:15px;}

.block_btn_widthbox01{width:100%;}
.block_btn_widthbox01 .block_btn_width01{width:calc(100% - 113px); margin-right: 8px;}
.block_btn_widthbox01 .block_btn_width02{width:105px;}


.block_btn_widthbox02{width:100%;}
.block_btn_widthbox02 .block_btn_width01{width:calc(100% - 88px); margin-right: 8px;}
.block_btn_widthbox02 .block_btn_width02{width:80px;}

.profile_img_width01{width: 159px; margin-right:20px;}
.profile_img_userbox{width:159px; height:159px; border-radius: 8px; background:#fff; padding:5px; box-sizing:border-box; box-shadow: 2px 4px 8px 0px #2934390A; }
.profile_img_user{width:100%; height: 100%; background-color: #ddd; background-size: cover; background-repeat: no-repeat; background-position: center;border-radius: 8px;
background-image: url('/static/img/web/def_user_icon02.png');}
.profile_img_change_btn{margin-top:8px;}
.profile_img_width02{width: calc(100% - 140px);padding-top: 5px;box-sizing: border-box;; }
.profile_img_width02 .block_inp_box:first-child{margin-top: 0;}

.profile_img_user_tit01{font-size:22px; font-weight: bold;}
.profile_img_user_tit02{font-size:16px; font-weight: 500;}
.profile_img_user_txt{font-size:16px; font-weight: 500;}

.state_border .bottom_btn{background-color:#fff; border:1px solid #ccc;box-shadow: 0px 2px 4px 0px #29343914;}
.bottom_btn{background-color:#e9e9e9;}

/*구성원 관리*/
.member_listbox{ width:100%; min-height: 443px; max-height: 443px; overflow-y:auto;padding:16px; box-sizing:border-box ; padding-top: 6px;}
.member_list{padding:10px 8px; width:100%; box-sizing: border-box; border-bottom: 1px solid #ececec; transition: 0.3s; cursor: pointer;}
.member_list:hover{background-color:#f3f3f3;}
.member_list.active{background-color:#f3f3f3;}
.member_list:last-child{border-bottom: 0;}
.profile_list01 .block_cont_tbox{padding-bottom: 0;}
.member_list_width{margin-right: 8px;}
.member_list_width:last-child{margin-right: 0;}
.member_list_width01{width:50px; }
.member_list_width01 .member_profile_img{width:50px; height: 50px; border-radius: 50%; background-color: #ddd; background-size: cover;
background-repeat: no-repeat; background-position: center;}
.member_list_tit{font-size:16px; font-weight: 500;padding:13px 0;}
.member_list_width02{width:calc(100% - 116px);}
.member_list_width03{width:50px;}
.member_list_btn{width:50px}
.member_list_btn button{margin:9px 0;}
.member_list_btn:last-child{margin-right: 0;}

.block_cont_none_list{height: 471px; position: relative;}
.block_cont_none_txt{text-align: center; box-sizing: border-box; width: 100%; position: absolute; top: 50%; transform: translateY(-50%);
color: #ccc; font-size: 16px;;}
 

/*출입기록*/
.search_widthbox{width:calc(50% - 4px); margin-right:8px;}
.search_widthbox:last-child{margin-right: 0;}

.search_widthbox01 .search_width{margin-right:8px; width: 100%;}
.search_widthbox01 .search_width:last-child{margin-right: 0;}
.search_widthbox01 .search_width02{padding-top:10px;}

.search_widthbox02 .search_width{width:calc(50% - 32px);margin-right:8px;}
.search_widthbox02 .search_width03{width:56px;}
.search_widthbox02 .search_width03 button{margin-top:29px;}
.search_widthbox02 .search_width:last-child{margin-right: 0;}


.key_list_box{overflow:hidden; border-radius:12px; box-shadow: 0px 2px 4px 0px #29343914;}
 
.table_cont_box{width:100%; background:#fff; border-radius: 5px; overflow: hidden;box-shadow: 2px 4px 8px 0px #2934390A;;}
.table_header_tb > thead{position:relative; box-shadow: 0px 2px 4px 0px #29343914; filter:box-shadow(0px 2px 4px 0px #29343914);z-index:9; 
    background:#fff; border-radius:12px 12px 0 0;}

.key_list_th{padding:15px 10px;color:#000; background:#fff;border-bottom:1px solid #e3f0f7;}
.key_list_th01{text-align:left;}
.key_list_th02{text-align:center;}
.key_list_th03{text-align:right;}

.key_list_td{padding:15px 10px;color:#333;} 
.key_list_td01{text-align:left;}
.key_list_td02{text-align:center;}
.key_list_td03{text-align:right;}
.key_list_td_none{text-align: center; padding: 60px 0; color:#999;}

.table_body_box{max-height: 400px; overflow-y: auto;}

.table_body_tb tr .key_list_td{border-bottom:1px solid #e3f0f7;}
.table_body_tb tr:last-child .key_list_td{border-bottom:0;}

/* 대쉬보드 */
.main_board_box{display: flex; flex-direction: column; margin-top:20px;}
.main_board_box:first-child{margin-top:0;}
.main_board_ul{display: flex; flex-direction: row;}

.main_board_li{display: flex; flex-direction: column; margin-right: 20px; width: 100%;}
.main_board_li:last-child{margin-right: 0;}
.main_board_li .cont_shadow_box02{display: flex; flex-direction: column; }

.main_board_tit{font-size: 28px; display: block;}

.notice_list_grp{width:100%; border:1px solid #eee; margin-top:20px; box-sizing:border-box; height: 300px; overflow-y: auto;}
.notice_list_tbox{padding:15px; box-sizing:border-box;display: flex;flex-direction: row; align-items: center; justify-content: space-between; border-bottom:1px solid #eee;
    transition: 0.3s; cursor: pointer;}
.notice_list_tbox:hover{background:#f3f5f6;}
.notice_list_tbox:active{background:#eee;}
.notice_list_tbox:last-child{border-bottom: 0;}
.notice_list_tbox01{display: flex;flex-direction: row; align-items: center;}
.notice_list_tbox_tit{font-size: 16px; font-weight: 500;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; 
max-width: 340px;}
.notice_list_tbox_date{font-size: 16px; color:#ccc;}
.notice_list_tbox_state{margin-right: 8px; font-size: 16px;}
.notice_list_tbox_state01{color:#666;}
.notice_list_tbox_state02{color:#0071bc;}
.notice_list_tbox_state03{color:#ff0000;}

.notice_list_tbox_none{padding:135px 15px; width:100%; text-align: center;flex-direction: column; background:#fff !important; cursor: unset;}
.notice_list_tbox_none:hover{background:#fff;}
.notice_list_tbox_none:active{background:#fff;}
.notice_list_tbox_none_txt{color:#ccc; text-align: center;font-size:15px;}
.main_board_tit_grp{justify-content: space-between;}
.dis_flex_width{margin-right:8px;}
.dis_flex_width:last-child{margin-right: 0;}
.dis_flex_width01{width:100px;}
.dis_flex_width02{width:100px;}
/* //대쉬보드 */

/* 계정 변경 */
.block_inp_box_rightbox{width:500px;}
.block_inp_box_widthbox{display:flex;flex-direction: row;align-items: center;}
.block_inp_box_width{width: 100%; margin-right: 20px;}
.block_inp_box_width:last-child{margin-right: 0;}
.profile_img_txt{margin-top:8px;text-align: left; color:#999;}

/* //계정변경 */
.block_flex_right{display:flex;flex-direction: column;align-items: flex-end;}
.block_flex_right button{max-width: 80px;;}
/*공통 CSS*/
.cont_shadow_box{padding:30px 40px; border-radius: 5px; box-shadow: 2px 4px 8px 0px #2934390A; box-sizing: border-box; background: #fff; }
.cont_shadow_box02{padding:20px; border-radius: 5px; box-shadow: 2px 4px 8px 0px #2934390A; box-sizing: border-box; background: #fff; }

.hover_table tr{ transition: 0.3s;cursor: pointer;}
.hover_table tr td{ transition: 0.3s;}
.hover_table tr:hover td{ background:#f6f6f6;}

.date_default_inp{width:100%; height: 40px; border-radius: 50px; outline: none; border:1px solid #dbdbdb; padding-left: 40px;
background-image:url('/static/img/web/calendar.png'); background-repeat: no-repeat; background-position: left 8px center; background-size:28px;}
.default_inp{width:100%; height: 40px;border-radius: 50px; outline: none; border:1px solid #dbdbdb; }
.default_sel{width:100%; height: 40px;border-radius: 50px; outline: none; border:1px solid #dbdbdb;}
.sh_inpbox{width:100%; height: 40px;border-radius: 50px; position: relative;}
.search_icon{background-image:url('/static/img/web/search.png'); background-repeat: no-repeat; background-position:center; background-size:18px;
position: absolute; right: 0; top: 0; width: 40px; height: 40px;}

.key_list_inp{width:100%; box-sizing:border-box;border-radius:8px; border:1px solid #dbdbdb;height:40px;padding:0 8px;outline:none;}
.key_list_date{padding-left:34px;background-image:url('/img/opener/calendar_icon.png'); background-repeat:no-repeat;
    background-position:left 8px center; background-size:18px; }

.block_cont{ padding:15px;border-radius: 5px; box-shadow: 2px 4px 8px 0px #2934390A; box-sizing: border-box; background: #fff; width:100%; position:relative;}
.no_member{width:100%; position:absolute; top:50%; transform: translateY(-50%); text-align: center;}
.no_member_txt{    color: #ccc;font-size: 16px;}

table{border-collapse: collapse;}
input:read-only{background:#F3F5F6;  border:1px solid #e3e3e3 !important;}
input:disabled{background:#F3F5F6;  border:1px solid #e3e3e3 !important; color:#8998A0 !important;}

input{font-size:14px; box-sizing: border-box; padding:0 8px;outline: none;}
input:placeholder{color:#ABB4B9; transition:0.3s; font-size:45px;}
input:focus{border-color: #0ca8ff;}
select{font-size:14px; box-sizing: border-box; padding:0 12px;
    -webkit-appearance: none; 
   -moz-appearance: none;    
   appearance: none;
background-image:url('/static/img/web/drop_arrow.png'); background-repeat: no-repeat; background-position: right 14px center; background-size:10px;}

select:placeholder{color:#ABB4B9; transition:0.3s; font-size:14px;}
select:focus{border-color: #0ca8ff;}

.edit_inp{width: 100%; box-sizing: border-box; height: 40px; border-radius: 8px; border: 1px solid #dbdbdb; }
.edit_sel{width: 100%; box-sizing: border-box; height: 40px; border-radius: 8px; border: 1px solid #dbdbdb;}
.textarea_style{width: 100%; box-sizing: border-box; min-height: 88px; border-radius: 8px; border: 1px solid #e3e3e3; padding:8px;}

button{box-sizing: border-box; outline: none;  border:0;}

.btn{width:100%; height:40px;border-radius: 8px; display:block; font-size:13px; font-weight:600; padding:0 8px; transition: 0.3s;}

.btn_save{font-size:15px; font-weight: 600;min-width: 60px; min-height: 45px; background:#2e3192; color:#fff;}
.btn_save:hover{background:#0d0f42;} 
.btn_cancel{font-size:15px; font-weight: 600;min-width: 60px; min-height: 45px; background:#fff; color:#999}
.btn_cancel:hover{background:#f3f3f3;} 
.pop_btn_cancel{font-size:15px; font-weight: 600;min-width: 60px; min-height: 45px; background:rgb(204, 204, 204); color:rgb(29, 29, 29)}
.pop_btn_cancel:hover{background:#dfdfdf;} 

.btn_small{width:100%; height:32px;border-radius: 8px; display:block; font-size:12px; font-weight:700; padding:0 8px; transition: 0.3s;}

.key_list_sel{width:100%; box-sizing:border-box;border-radius:8px; border:1px solid #D0D6D9;height:40px;padding:0 8px;outline:none;
    -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image:url('/img/opener/drop_arrow.png'); background-repeat:no-repeat;
    background-position:right 8px center; background-size:8px; background-color:#fff;color:#000;}
  .key_list_sel::-ms-expand { display: none;}

.right_btn_box{display: inline-block; position: absolute; right:0; top:-2px;}

.btn_blue{background:#dadcff; color:#3c3f70;border: 1px solid #bec0e1;}
.btn_blue:hover{background:#b8bdff;}
.btn_blue:disabled{opacity: 0.5; background:#dadcff !important;}

.btn_gray{background:#f3f3f3; color:#49555a;border: 1px solid #dbdbdb;}
.btn_gray:hover{background:#d5d3d3;}
.btn_gray:disabled{opacity: 0.5; background:#dadcff !important;}

.btn_red{background:#ffb8b8; color:#b94e4e;border: 1px solid #e3b2b2;}
.btn_red:hover{background:#e3acac;}
.btn_red:disabled{opacity: 0.5; background:#dadcff !important;}

.margin_top_20{margin-top: 20px;}
.margin_top_8{margin-top: 8px;}
.dis_flex_row{display: flex; flex-direction: row;}
.dis_flex_btn_center{display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.dis_flex_btn_center_top{display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; }
.dis_inblock{display: inline-block;vertical-align: middle;}
.padding0{padding: 0;}
.padding16{padding: 16px; box-sizing: border-box;}

.datetimepicker .datepicker-nav .datepicker-nav-previous, .datetimepicker .datepicker-nav .datepicker-nav-next{background:#00d1b2 !important;}

/* 스크롤 */
::-webkit-scrollbar { width: 5.2px; height:5.2px;} /* 스크롤 바 */
::-webkit-scrollbar-track { background-color:#ccc; } /* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb { background: #999; border-radius: 10px; } /* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb:hover { background: #404040; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:active { background: #808080; } /* 실질적 스크롤 바를 클릭할 때 */
::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */
