@charset "utf-8";

*{font-family: 'Pretendard';}

/*왼쪽메뉴*/
html, body{background:#f3f5f6;}
.web_wrap{width: 100%; position: relative;}
.left_menu_acco{width:280px;position:fixed; background:#FFF; height: 100%; box-shadow: 2px 4px 8px 0px #2934390A;}
.content_box{ padding:30px; padding-left: 310px; box-sizing: border-box; }


.home_logo_box{width:100%; padding:40px;box-sizing: border-box; text-align: center;}
.menu_icon{width:50px; display: none;}
.menu_icon img{width: 100%;}
.home_logo{width: 150px; margin:0 auto;}
.home_logo img{width: 100%}

.left_menu_ul{clear: both; width:100%;max-height: 66vh; overflow-y: auto;}
.left_menu_li{width:100%;transition: 0.3s; position: relative; }
.left_menu_btn{display: block;padding:10px; box-sizing: border-box;transition: 0.3s; font-size:18px; font-weight: bold; margin-top: 20px;}
.left_menu_icon{background-position: left 20px top 7px; background-repeat: no-repeat; background-size: 25px; }

.left_menu_icon01{background-image: url(/static/img/web/dashboard.png);}
.left_menu_icon02{background-image: url(/static/img/web/talk.png);}
.left_menu_icon03{background-image: url(/static/img/web/people.png);}
.left_menu_icon04{background-image: url(/static/img/web/notice.png);}
.left_menu_icon05{background-image: url(/static/img/web/system.png);}

.left_menu_li:first-child .left_menu_btn{margin-top: 00px;}
.left_menu_li:last-child .left_menu_btn{padding-bottom: 20px;}

.left_menu_li:last-child .left_menu_line{display: none;}



.left_menu_line{display: none; width: 60px; height: 1px; background:#000; margin-left: 20px}
.menu_active_bg{width:5px; background:#fff;height: 39.5px;position: absolute; top: 0;left: 0;z-index: 1;transition: 0.3s;}

.logout_btn{display:block; width:calc(100% - 40px); height:50px; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); border-radius:8px; transition: 0.3s;
background-image: url('/static/img/web/logout_icon.png'); background-position: left 15px center; background-repeat: no-repeat; background-size: 20px; font-size: 16px;
font-weight:500; color:#727272; line-height: 50px; padding-left: 50px; box-sizing: border-box;}
.logout_btn:hover{background-color:#f3f3f3; color:#000;background-image: url('/static/img/web/logout.png');}



.left_menu_box{padding:0 20px; box-sizing: border-box;}
.left_menu_titbox{padding:15px 0; box-sizing:border-box; }
.left_menu_tit{font-size:20px; color:#000;}
.left_menu_page_btn{display: block; font-size: 15px;}





/*로그인*/
.login_wrap{display:block;box-sizing:border-box; background:#FFF; border-radius: 12px; box-shadow: 0px 2px 4px 0px #29343914; overflow: hidden;
position: fixed; top:50%; left:50%; transform: translate(-50%, -50%); min-width: 400px; height:500px;}
.log_cont01{width: 600px; height:500px; background-image: url('/static/img/web/login_bg02.png'); background-size: cover; 
    position:relative;background-repeat: no-repeat; background-position: right -50px center;}
.log_cont02{padding:70px 40px; box-sizing: border-box; width: 350px;} 
.login_logo{width:250px; margin: 0 auto;}
.login_logo img{width: 100%;}
.login_tit{font-size: 58px; margin-bottom: 15px; text-align: center; letter-spacing: 3px;}
.input_title{padding-bottom:8px; font-size: 13px;}
.input_title_box{margin-bottom: 15px;}
.input_title_box03{display: flex; flex-direction: row; align-items: center;}
.input_title_box03 .ck_text{padding-left: 8px; cursor: pointer;}

.log_btn{display: block; width: 100%; border-radius: 8px; height: 40px; text-align: center; background:linear-gradient(90deg, #2e3192, #585dcb); color:#fff; line-height: 40px; font-size: 15px;
    font-weight: bold;}

.log_cont_logo{display: block; width: 250px;}
.log_cont_logo img{ width: 100%;}
.log_cont_txt{font-size: 22px;padding-left: 15px;}
.log_cont_tbox{position: absolute; bottom: 15px; left: 15px;}


/*공통 CSS*/


.hover_table tr{ transition: 0.3s;cursor: pointer;}
.hover_table tr td{ transition: 0.3s;}
.hover_table tr:hover td{ background:#f6f6f6;}

.date_default_inp{width:100%; height: 40px; border-radius: 50px; outline: none; border:1px solid #dbdbdb; padding-left: 40px;
background-image:url('/static/img/web/calendar.png'); background-repeat: no-repeat; background-position: left 8px center; background-size:28px;}
.default_inp{width:100%; height: 40px;border-radius: 50px; outline: none; border:1px solid #dbdbdb; }
.default_sel{width:100%; height: 40px;border-radius: 50px; outline: none; border:1px solid #dbdbdb;}
.sh_inpbox{width:100%; height: 40px;border-radius: 50px; position: relative;}
.search_icon{background-image:url('/static/img/web/search.png'); background-repeat: no-repeat; background-position:center; background-size:18px;
position: absolute; right: 0; top: 0; width: 40px; height: 40px;}

table{border-collapse: collapse;}
input:read-only{background:#F3F5F6;  border:1px solid #e3e3e3 !important;}
input:disabled{background:#F3F5F6;  border:1px solid #e3e3e3 !important; color:#8998A0 !important;}

input{font-size:14px; box-sizing: border-box; padding:0 8px;outline: none;}
input:placeholder{color:#ABB4B9; transition:0.3s; font-size:45px;}
input:focus{border-color: #0ca8ff;}
select{font-size:14px; box-sizing: border-box; padding:0 12px;
    -webkit-appearance: none; 
   -moz-appearance: none;    
   appearance: none;
background-image:url('/static/img/web/drop_arrow.png'); background-repeat: no-repeat; background-position: right 14px center; background-size:10px;}

select:placeholder{color:#ABB4B9; transition:0.3s; font-size:14px;}
select:focus{border-color: #0ca8ff;}

.edit_inp{width: 100%; box-sizing: border-box; height: 40px; border-radius: 8px; border: 1px solid #dbdbdb; }
.edit_sel{width: 100%; box-sizing: border-box; height: 40px; border-radius: 8px; border: 1px solid #dbdbdb;}
.textarea_style{width: 100%; box-sizing: border-box; min-height: 88px; border-radius: 8px; border: 1px solid #e3e3e3; padding:8px;}

button{box-sizing: border-box; outline: none;  border:0;}

.btn{width:100%; height:40px;border-radius: 8px; display:block; font-size:13px; font-weight:600; padding:0 8px; transition: 0.3s;}

.btn_save{font-size:15px; font-weight: 600;min-width: 60px; min-height: 45px; background:#2e3192; color:#fff;}
.btn_save:hover{background:#0d0f42;} 
.btn_cancel{font-size:15px; font-weight: 600;min-width: 60px; min-height: 45px; background:#fff; color:#999}
.btn_cancel:hover{background:#f3f3f3;} 
.pop_btn_cancel{font-size:15px; font-weight: 600;min-width: 60px; min-height: 45px; background:rgb(204, 204, 204); color:rgb(29, 29, 29)}
.pop_btn_cancel:hover{background:#dfdfdf;} 

.btn_small{width:100%; height:32px;border-radius: 8px; display:block; font-size:12px; font-weight:700; padding:0 8px; transition: 0.3s;}

.key_list_sel{width:100%; box-sizing:border-box;border-radius:8px; border:1px solid #D0D6D9;height:40px;padding:0 8px;outline:none;
    -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image:url('/img/opener/drop_arrow.png'); background-repeat:no-repeat;
    background-position:right 8px center; background-size:8px; background-color:#fff;color:#000;}
  .key_list_sel::-ms-expand { display: none;}

.right_btn_box{display: inline-block; position: absolute; right:0; top:-2px;}

.btn_blue{background:#dadcff; color:#3c3f70;border: 1px solid #bec0e1;}
.btn_blue:hover{background:#b8bdff;}
.btn_blue:disabled{opacity: 0.5; background:#dadcff !important;}

.btn_gray{background:#f3f3f3; color:#49555a;border: 1px solid #dbdbdb;}
.btn_gray:hover{background:#d5d3d3;}
.btn_gray:disabled{opacity: 0.5; background:#dadcff !important;}

.btn_red{background:#ffb8b8; color:#b94e4e;border: 1px solid #e3b2b2;}
.btn_red:hover{background:#e3acac;}
.btn_red:disabled{opacity: 0.5; background:#dadcff !important;}

.margin_top_20{margin-top: 20px;}
.margin_top_8{margin-top: 8px;}
.dis_flex_row{display: flex; flex-direction: row;}
.dis_flex_btn_center{display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.dis_flex_btn_center_top{display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; }
.dis_inblock{display: inline-block;vertical-align: middle;}
.padding0{padding: 0;}
.padding16{padding: 16px; box-sizing: border-box;}

.datetimepicker .datepicker-nav .datepicker-nav-previous, .datetimepicker .datepicker-nav .datepicker-nav-next{background:#00d1b2 !important;}

/* 스크롤 */
::-webkit-scrollbar { width: 5.2px; height:5.2px;} /* 스크롤 바 */
::-webkit-scrollbar-track { background-color:#ccc; } /* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb { background: #999; border-radius: 10px; } /* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb:hover { background: #404040; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:active { background: #808080; } /* 실질적 스크롤 바를 클릭할 때 */
::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */


.cont_tbox{padding-left: 310px; box-sizing: border-box; width: 100%;}