<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
<!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

</head>
<style>
.spin{display: none;}
</style>
<script type="text/javascript">
    var level = "<%=session.level%>"
    $(window).ready(function() {
    });
</script>
<body>
    <div class="wrap">
        <div class="contents">
            <div class="cont_tbox">
                <h2 class="cont_title">동작 내역</h2><h2 class="cont_title">동작 내역</h2><h2 class="cont_title">동작 내역</h2><h2 class="cont_title">동작 내역</h2><h2 class="cont_title">동작 내역</h2><h2 class="cont_title">동작 내역</h2>
            </div>
        </div>
    </div>
</body>
</html>