<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
<!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<style>
    body, html{background-color:#000;}
    .spin{display: none;}
    </style>
</head>
<script type="text/javascript">
    $(window).ready(function() {
        alert();
    });
</script>

<body>
    ㅁㄴㅁㄴㅇㅁㄴㅇㅁㄴㅇ
	ㅁㄴㅇㄴㅁㅇㄴㅁㅇㅁㄴㅇ
</body>
</html>