<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
<!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

</head>
<style>
.spin{display: none;}
</style>
<script type="text/javascript">
    var level = "<%=session.level%>"
    var logPage = 0;
    var pageSize = 10;
    var pageTotal = 0;
    var selectPage = 1;
    var bsCode = "<%=bsCode%>";
    var type ="";
    var sdate="";
    var edate="";
    var gname="";
    var acno="";
    function init(){
        $.ajax({
            url: "/mysql/room",
            data:{
                xml:"key_log_list",
                bsCode: pad(bsCode, 7),
                type: type,
                acno:acno,
                sdate:sdate,
                edate:edate,
                page:logPage,
                pageSize:pageSize,
                gname:gname
            }, success:function(res){
                console.log(res);
                if(res.length > 0){
                    $("#tot_h2").text("총 "+comma(res[0].counts)+"개");
                    pageTotal = res[0].counts;
                    var item ="";
                    
                    for(var i=0; i<res.length; i++){
                        var type = "";
                        var tf ="";
                        if(res[i].API_LOG_TYPE == "create"){
                            type = "발급";
                        }else if(res[i].API_LOG_TYPE == "update"){
                            type = "변경";
                        }else if(res[i].API_LOG_TYPE == "delete"){
                            type = "취소";
                        }
                        if(res[i].API_LOG_TF == "T"){
                            tf = "<td class='table_list_td text_left'>성공</td>";
                        }else{
                            tf = "<td style='color:red;' class='table_list_td text_left'>실패</td>";
                        }

                        item += "<tr data-key='"+res[i].SYNC_LOG_KEY+"'>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].API_LOG_RONO
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].API_LOG_ACNO
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].API_LOG_GNAME
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].API_LOG_IDATE
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].API_LOG_ODATE
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + type
                            + "</td>"
                            + tf
                            + "<td class='table_list_td text_left'>"
                            + res[i].API_LOG_DATE
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].API_LOG_USER
                            + "</td>"
                            + "</tr>";
                    }
                }else{
                    pageTotal = 0;
                    selectPage = 1;
                    logPage = 0;
                    $("#tot_h2").text("총 "+comma("0")+"개");
                }
                paging(pageTotal, pageSize, selectPage);
                $("#log_table tbody").empty();
                $("#log_table tbody").append(item);
            }
        })
    }
    $(window).ready(function() {
        init();
        var myCal = bulmaCalendar.attach('.date_default_inp', {
            isRange: true,
            type: 'date',
            showFooter: false,
            dateFormat: 'yyyy-MM-dd'
        });
        $(".search_icon").on("click", function(){
            if($("input[name='dateSelect']").val() != ""){
                var dateInput = $("input[name='dateSelect']").val();
                dateInput = dateInput.split(" ~ ");
                sdate = dateInput[0];
                edate = dateInput[1];
            }else{
                sdate = "";
            }
            if($("#search_gname").val() != ""){
                gname = $("#search_gname").val();
            }else{
                gname = "";
            }
            if($("#search_acno").val() != ""){
                acno = $("#search_acno").val();
            }else{
                acno = "";
            }
            init();
        });
        $("#type_select").on("change", function(){
            type = $(this).val();
            init();
        });
        $(document).on("click", "#foot_page a", function(){
            var page = $(this).attr("data-page");
            var currentpage = page - 1;
            currentpage = currentpage == 0 ? currentpage : currentpage*pageSize;
            selectPage = page;
            logPage = currentpage;

            init();
        });
    });
</script>
<body>
    <div class="right_contbox">
        <div class="main_cont_tbox dis_flex_row dis_flex_center dis_flex_end margin_bottom_20">
            <h2 class="main_cont_tit">발급 내역</h2>
            <div class="main_cont_btn_grp">
                <div calss="main_cont_width main_cont_width01">
                    <button class="icon_btn excel"></button>
                </div>
            </div>
        </div>
        <div class="wcont_box wcont_box_style01">
            <div class="data_search_box dis_flex_row margin_bottom_16">
                <div class="data_search_box dis_flex_row margin_bottom_16">
                    <div class="data_search_grp">
                        <label class="setup_title">구분</label>
                        <div class="inp_moving_widthbox inp_moving_widthbox02">
                            <div class="inp_moving_width inp_moving_width01">
                                <div class="data_search_inpbox">
                                    <select id="type_select" class="sel_style">
                                        <option value="" selected>전체</option>
                                        <option value="create" >발급</option>
                                        <option value="update">재발급</option>
                                        <option value="delete">취소</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="data_search_grp">
                        <label class="setup_title">날짜</label>
                        <div class="inp_moving_widthbox inp_moving_widthbox01 dis_flex_row dis_flex_center">
                            <div class="inp_moving_width inp_moving_width01">
                                <div class="data_search_inpbox">
                                    <input style="min-width: 220px;" name="dateSelect" class="inp_style date_default_inp date date_inp" type="text" placeholder="날짜를 선택해주세요.">
                                </div>
                            </div>
                            <div class="inp_moving_width inp_moving_width01">
                                <div class="data_search_inpbox">
                                    <input placeholder="예약번호" id="search_acno" class="inp_style search search_inp" type="text">
                                </div>
                            </div>
                            <div class="inp_moving_width inp_moving_width01">
                                <div class="data_search_inpbox">
                                    <input placeholder="고객 성명" id="search_gname" class="inp_style search search_inp" type="text">
                                </div>
                            </div>
                            
                            <div style="width:60px;" class="inp_moving_width inp_moving_width02">
                                <button class="default_btn search_icon">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="total_numbox">
                <h2 id="tot_h2"class="total_num_tit">총 0개</h2>
            </div>
            <div class="table_over_stylebox">
                <div class="table_contbox table_header">
                    <table class="table_list">
                        <colgroup>
                            <col width="50px">
                            <col width="120px">
                            <col width="100px">
                            <col width="150px">
                            <col width="150px">
                            <col width="50px">
                            <col width="50px">
                            <col width="150px">
                            <col width="100px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="table_list_th text_left">객실</th>
                                <th class="table_list_th text_left">예약번호</th>
                                <th class="table_list_th text_left">성명</th>
                                <th class="table_list_th text_left">시작 일자</th>
                                <th class="table_list_th text_left">종료 일자</th>
                                <th class="table_list_th text_left">구분</th>
                                <th class="table_list_th text_left">결과</th>
                                <th class="table_list_th text_left">요청 일자</th>
                                <th class="table_list_th text_left">처리자</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table_contbox table_body">
                    <table id="log_table" class="table_list">
                        <colgroup>
                            <col width="50px">
                            <col width="120px">
                            <col width="100px">
                            <col width="150px">
                            <col width="150px">
                            <col width="50px">
                            <col width="50px">
                            <col width="150px">
                            <col width="100px">
                        </colgroup>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pagebtn_grp_box">
                <div  id="foot_page" class="pagebtn_grp dis_flex_center dis_flex_row">
                    <a class="pagebtn prev"></a>
                    <a class="pagebtn num active">1</a>
                    <a class="pagebtn num">2</a>
                    <a class="pagebtn num">3</a>
                    <a class="pagebtn num">4</a>
                    <a class="pagebtn num">5</a>
                    <a class="pagebtn next"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>