<!DOCTYPE html>

<html>
<head>
<title><%=title%></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />

<script src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script type="text/javascript" src="/js/extention.js"></script>
<link href="/js/alert/jquery.alerts.phonekey.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/alert/jquery.alerts.js"></script>

<link href="/css/web/layout.css" rel="stylesheet"/>
<link href="/css/web/common.css" rel="stylesheet"/>

<!-- 폰트 -->
<link href="/css/font/pretendard.css" rel="stylesheet"/>


<link href="/js/alert/jquery.alerts.phonekey.css" rel="stylesheet"/>
<link href="/js/loading/loading-mobile.css" rel="stylesheet"/>

<script type="text/javascript" src="/js/alert/jquery.alerts.js"></script>
<!-- <script type="text/javascript" src="/js/loading/loading.js"></script> -->

<script type="text/javascript" src="/js/extention.js"></script>

<!-- 데이트피커 -->
<link href="/js/datePicker/bulma-calendar.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/datePicker/bulma-calendar.js"></script>

<!-- 로딩 스피너 -->
<link href="/js/spinner/loading.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/spinner/loading.js"></script>

<script src="/socket.io/socket.io.js"></script>


<!-- 구글번역 -->
<script type="text/javascript"> 
function googleTranslateElementInit() { 
  new google.translate.TranslateElement({pageLanguage: 'ko',
	  layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT,
	  includedLanguages:'ko,en,ja,zh-CN'
	 }, 'google_translate_element'); 
} 
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
    var socket = io();
    $(window).ready(function() {
    });
</script>
<style>
.right_contbox{display: none;}
</style>

</head>

<body>
	<div class="web_wrap">
        <div class="contents">
            <!-- 메뉴 -->
            <div class="left_menu_acco">
                <div class="home_logo_box dis_flex_row">
                    <div class="home_logo">
                        <a class="home_logo_btn dis_inblock" href="/opener/admin/main">
                            <img src="/static/img/web/<%=logoName%>">
                        </a>
                    </div>
                </div>
                <div class="left_menu_box">
                    <div class="left_menu_titbox">
                        <h2 class="left_menu_tit">객실 제어</h2>
                    </div>
                    <ul class="left_menu_ul">
                        <li class="left_menu_li">
                            <a class="left_menu_page_btn">
                                도어 제어
                            </a>
                        </li>
                    </ul>
                    <div class="left_menu_titbox">
                        <h2 class="left_menu_tit">로그</h2>
                    </div>
                    <ul class="left_menu_ul">
                        <li class="left_menu_li">
                            <a class="left_menu_page_btn">
                                동작 내역
                            </a>
                        </li>
                    </ul>
                    <div class="left_menu_titbox">
                        <h2 class="left_menu_tit">환경 설정</h2>
                    </div>
                    <ul class="left_menu_ul">
                        <li class="left_menu_li">
                            <a class="left_menu_page_btn">
                                객실 설정
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="admin_logout_btn logout_btn">로그아웃</a>
            </div>
            <!-- //메뉴 -->

            <!-- 도어제어 -->
            <!-- right_contents_box -->
            <div class="right_contbox">
                <div class="main_cont_tbox dis_flex_row dis_flex_center dis_flex_end margin_bottom_20">
                    <h2 class="main_cont_tit">도어 제어</h2>
                    <div class="main_cont_btn_grp">
                        <div calss="main_cont_width main_cont_width01">
                            <button class="icon_btn excel"></button>
                        </div>
                    </div>
                </div>
                <div class="wcont_box wcont_box_style01">
                    <div class="data_search_box dis_flex_row margin_bottom_16">
                        <div class="data_search_grp">
                            <label class="setup_title">구분</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox02">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <select class="sel_style">
                                            <option selected>전체</option>
                                            <option>구분1</option>
                                            <option>구분2</option>
                                            <option>구분3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_search_grp">
                            <label class="setup_title">상태</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox03">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <select class="sel_style">
                                            <option selected>전체</option>
                                            <option>구분1</option>
                                            <option>구분2</option>
                                            <option>구분3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_search_grp">
                            <label class="setup_title">분류</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox04">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <select class="sel_style">
                                            <option selected>전체</option>
                                            <option>구분1</option>
                                            <option>구분2</option>
                                            <option>구분3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_search_grp">
                            <label class="setup_title">동작</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox05">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <select class="sel_style">
                                            <option selected>전체</option>
                                            <option>구분1</option>
                                            <option>구분2</option>
                                            <option>구분3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_search_grp">
                            <label class="setup_title">객실 번호</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox06 dis_flex_row">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <input class="inp_style search" type="text">
                                    </div>
                                </div>
                                <div class="inp_moving_width inp_moving_width02">
                                    <button class="default_btn">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total_numbox">
                        <h2 class="total_num_tit">총 3 개</h2>
                    </div>
                    <div class="table_over_stylebox">
                        <div class="table_contbox table_header">
                            <table class="table_list">
                                <colgroup>
                                    <col width="120px">
                                    <col width="120px">
                                    <col width="140px">
                                    <col width="140px">
                                    <col width="200px">
                                    <col width="200px">
                                    <col width="140px">
                                    <col width="200px">
                                    <col width="120px">
                                    <col width="160px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="table_list_th text_left">객실 번호</th>
                                        <th class="table_list_th text_left">도어락 번호</th>
                                        <th class="table_list_th text_left">청소키 사용 여부</th>
                                        <th class="table_list_th text_left">마스터키 사용 여부</th>
                                        <th class="table_list_th text_left">청소 키</th>
                                        <th class="table_list_th text_left">마스터 키</th>
                                        <th class="table_list_th text_left">변경자</th>
                                        <th class="table_list_th text_left">변경 날짜</th>
                                        <th class="table_list_th text_left">변경</th>
                                        <th class="table_list_th text_left">도어 오픈</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table_contbox table_body">
                            <table class="table_list table_list_inp_style">
                                <colgroup>
                                    <col width="120px">
                                    <col width="120px">
                                    <col width="140px">
                                    <col width="140px">
                                    <col width="200px">
                                    <col width="200px">
                                    <col width="140px">
                                    <col width="200px">
                                    <col width="120px">
                                    <col width="160px">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td class="table_list_td text_left">101</td>
                                        <td class="table_list_td text_left">000401</td>
                                        <td class="table_list_td text_left">
                                            <p class="table_list_td_ok">ON</p>
                                        </td>
                                        <td class="table_list_td text_left">
                                            <p class="table_list_td_no">OFF</p>
                                        </td>
                                        <td class="table_list_td text_left">
                                            <input class="inp_style" type="text">
                                        </td>
                                        <td class="table_list_td text_left">
                                            <input class="inp_style" type="text">
                                        </td>
                                        <td class="table_list_td text_left">관리자</td>
                                        <td class="table_list_td text_left">2022-08-08 AM 10:05:53</td>
                                        <td class="table_list_td text_left">00:00:01</td>
                                        <td class="table_list_td text_left">
                                            <button class="">asd</button>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pagebtn_grp_box">
                        <div class="pagebtn_grp dis_flex_center dis_flex_row">
                            <a class="pagebtn prev"></a>
                            <a class="pagebtn num active">1</a>
                            <a class="pagebtn num">2</a>
                            <a class="pagebtn num">3</a>
                            <a class="pagebtn num">4</a>
                            <a class="pagebtn num">5</a>
                            <a class="pagebtn next"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right_contents_box -->
            <div class="right_contbox">
                <div class="main_cont_tbox dis_flex_row dis_flex_center dis_flex_end margin_bottom_20">
                    <h2 class="main_cont_tit">동작 내역(테이블 샘플)</h2>
                    <div class="main_cont_btn_grp">
                        <div calss="main_cont_width main_cont_width01">
                            <button class="icon_btn excel"></button>
                        </div>
                    </div>
                </div>
                <div class="wcont_box wcont_box_style01">
                    <div class="data_search_box dis_flex_row margin_bottom_16">
                        <div class="data_search_grp">
                            <label class="setup_title">날짜</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox01 dis_flex_row dis_flex_center">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <input class="inp_style date" type="text">
                                    </div>
                                </div>
                                <div class="inp_moving_width inp_moving_width02">
                                    ~
                                </div>
                                <div class="inp_moving_width inp_moving_width02">
                                    <div class="data_search_inpbox">
                                        <input class="inp_style date" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_search_grp">
                            <label class="setup_title">구분</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox02">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <select class="sel_style">
                                            <option selected>전체</option>
                                            <option>구분1</option>
                                            <option>구분2</option>
                                            <option>구분3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_search_grp">
                            <label class="setup_title">상태</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox03">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <select class="sel_style">
                                            <option selected>전체</option>
                                            <option>구분1</option>
                                            <option>구분2</option>
                                            <option>구분3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_search_grp">
                            <label class="setup_title">분류</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox04">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <select class="sel_style">
                                            <option selected>전체</option>
                                            <option>구분1</option>
                                            <option>구분2</option>
                                            <option>구분3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_search_grp">
                            <label class="setup_title">동작</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox05">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <select class="sel_style">
                                            <option selected>전체</option>
                                            <option>구분1</option>
                                            <option>구분2</option>
                                            <option>구분3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="data_search_grp">
                            <label class="setup_title">객실 번호</label>
                            <div class="inp_moving_widthbox inp_moving_widthbox06 dis_flex_row">
                                <div class="inp_moving_width inp_moving_width01">
                                    <div class="data_search_inpbox">
                                        <input class="inp_style search" type="text">
                                    </div>
                                </div>
                                <div class="inp_moving_width inp_moving_width02">
                                    <button class="default_btn">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="total_numbox">
                        <h2 class="total_num_tit">총 3 개</h2>
                    </div>
                    <div class="table_over_stylebox">
                        <div class="table_contbox table_header">
                            <table class="table_list">
                                <colgroup>
                                    <col width="200px">
                                    <col width="200px">
                                    <col width="200px">
                                    <col width="200px">
                                    <col width="200px">
                                    <col width="100%">
                                    <col width="200px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="table_list_th text_left">객실 번호</th>
                                        <th class="table_list_th text_left">구분</th>
                                        <th class="table_list_th text_left">분류</th>
                                        <th class="table_list_th text_left">동작</th>
                                        <th class="table_list_th text_left">상태</th>
                                        <th class="table_list_th text_left">동작 날짜</th>
                                        <th class="table_list_th text_left">지연 시간</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table_contbox table_body">
                            <table class="table_list">
                                <colgroup>
                                    <col width="200px">
                                    <col width="200px">
                                    <col width="200px">
                                    <col width="200px">
                                    <col width="200px">
                                    <col width="100%">
                                    <col width="200px">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td class="table_list_td text_left">로비</td>
                                        <td class="table_list_td text_left">BLE</td>
                                        <td class="table_list_td text_left">BOARD 제어</td>
                                        <td class="table_list_td text_left">BOARD ON/OFF</td>
                                        <td class="table_list_td text_left">
                                            <p class="table_list_td_ok">정상</p>
                                        </td>
                                        <td class="table_list_td text_left">2022-08-08 AM 10:05:53</td>
                                        <td class="table_list_td text_left">00:00:01</td>
                                    </tr>
                                    <tr>
                                        <td class="table_list_td text_left">로비</td>
                                        <td class="table_list_td text_left">BLE</td>
                                        <td class="table_list_td text_left">BOARD 제어</td>
                                        <td class="table_list_td text_left">BOARD ON/OFF</td>
                                        <td class="table_list_td text_left">
                                            <p class="table_list_td_no">지연</p>
                                        </td>
                                        <td class="table_list_td text_left">2022-08-08 AM 10:05:53</td>
                                        <td class="table_list_td text_left">00:00:01</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pagebtn_grp_box">
                        <div class="pagebtn_grp dis_flex_center dis_flex_row">
                            <a class="pagebtn prev"></a>
                            <a class="pagebtn num active">1</a>
                            <a class="pagebtn num">2</a>
                            <a class="pagebtn num">3</a>
                            <a class="pagebtn num">4</a>
                            <a class="pagebtn num">5</a>
                            <a class="pagebtn next"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>