<!DOCTYPE html>

<html>
<head>
<title><%=title%></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />

<script src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script type="text/javascript" src="/js/extention.js"></script>
<link href="/js/alert/jquery.alerts.phonekey.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/alert/jquery.alerts.js"></script>

<link href="/css/web/layout.css" rel="stylesheet"/>
<link href="/css/web/common.css" rel="stylesheet"/>

<!-- 폰트 -->
<link href="/css/font/pretendard.css" rel="stylesheet"/>


<link href="/js/alert/jquery.alerts.phonekey.css" rel="stylesheet"/>
<link href="/js/loading/loading-mobile.css" rel="stylesheet"/>

<script type="text/javascript" src="/js/alert/jquery.alerts.js"></script>
<!-- <script type="text/javascript" src="/js/loading/loading.js"></script> -->

<script type="text/javascript" src="/js/extention.js"></script>

<!-- 데이트피커 -->
<link href="/js/datePicker/bulma-calendar.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/datePicker/bulma-calendar.js"></script>

<!-- 로딩 스피너 -->
<link href="/js/spinner/loading.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/spinner/loading.js"></script>




<!-- 구글번역 -->
<script type="text/javascript"> 
function googleTranslateElementInit() { 
  new google.translate.TranslateElement({pageLanguage: 'ko',
	  layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT,
	  includedLanguages:'ko,en,ja,zh-CN'
	 }, 'google_translate_element'); 
} 
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
    $(window).ready(function() {
        var urlPath = $(location).attr('pathname').split("/");
        $(".left_menu_li").removeClass("active");
        $.each($(".left_menu_li"), function(i,v){
            if($(this).attr("data-url") == urlPath[3]){
                $(this).addClass("active");
            }
        });
        $.each($(".left_menu_sub_list"), function(i,v){
            if($(this).attr("data-url") == urlPath[3]){
                $(this).find("a").addClass("active");
            }
        });

        $(".logout_btn").on("click", function(){
            $.ajax({
				url:"./user_log_out",
				success: function(re){
					location.href = "./login";
				}
			});
        });
    });
</script>
<style>
</style>

</head>

<body>
	<div class="web_wrap">
        <div class="contents">
            <!-- 메뉴 -->
            <div class="left_menu_acco">
                <div class="home_logo_box dis_flex_row">
                    <div class="home_logo">
                        <a class="home_logo_btn dis_inblock" href="/opener/admin/main">
                            <img src="/static/img/opener/oasys_logo.png">
                        </a>
                    </div>
                </div>
                <div class="left_menu_box">
                    <div class="left_menu_titbox dis_flex_row dis_flex_center">
                        <div class="menu_icon control">
                            <img src="/static/img/opener/control_icon.png">
                        </div>
                        <h2 class="left_menu_tit">객실 관리</h2>
                    </div>
                    <ul class="left_menu_ul">
                        <li class="left_menu_li">
                            <a class="left_menu_page_btn" href="./main">
                                객실 제어
                            </a>
                        </li>
                        <li class="left_menu_li"  data-url="mqttSett">
                            <a class="left_menu_page_btn"  href="./mqttSett">
                                연결 현황
                            </a>
                        </li>
                    </ul>
                    <div class="left_menu_titbox dis_flex_row dis_flex_center">
                        <div class="menu_icon history">
                            <img src="/static/img/opener/history_icon.png">
                        </div>
                        <h2 class="left_menu_tit">로그</h2>
                    </div>
                    <ul class="left_menu_ul">
                        <li class="left_menu_li" data-url="actionLog">
                            <a class="left_menu_page_btn" href="./actionLog">
                                동작 내역
                            </a>
                        </li>
                        <li class="left_menu_li" data-url="keyLog">
                            <a class="left_menu_page_btn" href="./keyLog">
                                발급 내역
                            </a>
                        </li>
                        <li class="left_menu_li" data-url="cleanLog">
                            <a class="left_menu_page_btn" href="./cleanLog">
                                청소 내역
                            </a>
                        </li>
                        <li class="left_menu_li" data-url="smsList">
                            <a class="left_menu_page_btn" href="./smsList">
                                문자 내역
                            </a>
                        </li>
                    </ul>
                    <div class="left_menu_titbox dis_flex_row dis_flex_center">
                        <div class="menu_icon setting">
                            <img src="/static/img/opener/setting_icon.png">
                        </div>
                        <h2 class="left_menu_tit">환경 설정</h2>
                    </div>
                    <ul class="left_menu_ul">
                        <li class="left_menu_li"  data-url="roomSett">
                            <a class="left_menu_page_btn"  href="./roomSett">
                                객실 설정
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <a class="admin_logout_btn logout_btn">로그아웃</a>
            </div>
            <!-- //메뉴 -->
            <section> <%- body %> </section>
        </div>
    </div>
</body>
</html>