<!DOCTYPE html>

<html>
<head>
<title><%=title%></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script type="text/javascript" src="/js/extention.js"></script>
<link href="/js/alert/jquery.alerts.phonekey.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/alert/jquery.alerts.js"></script>

<link href="/css/web/layout.css" rel="stylesheet"/>
<link href="/css/web/common.css" rel="stylesheet"/>

<!-- 폰트 -->
<link href="/css/font/pretendard.css" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">


<link href="/js/alert/jquery.alerts.phonekey.css" rel="stylesheet"/>
<link href="/js/loading/loading-mobile.css" rel="stylesheet"/>

<script type="text/javascript" src="/js/alert/jquery.alerts.js"></script>
<script type="text/javascript" src="/js/loading/loading.js"></script>

<script type="text/javascript" src="/js/extention.js"></script>

<script type="text/javascript">
    $(window).ready(function() {
        if("<%=id%>" != ""){
            $("#log_ck").prop("checked", true);
            $("input[name='id']").val("<%=id%>");
            $("input[name='bnum']").val("<%=code%>");
            $("input[name='pw']").focus();
        }
        $("input[name='pw']").keypress(function(e){
			if (e.keyCode == 13){
				$(".log_btn").click();
			}
		});
        $(".log_btn").on("click", function(){
            var ck = $("#log_ck").is(":checked");
            var id = $("input[name='id']").val();
            var pw = $("input[name='pw']").val();
            var bnum = $("input[name='bnum']").val();

            if(id == ""){
                Alert("아이디를 입력해 주세요.");
                $("input[name='id']").focus();
            }
            if(pw == ""){
                Alert("아이디를 입력해 주세요.");
                $("input[name='pw']").focus();
            }
            if(ck){
                ck = "1";
            }else{
                ck = "0";
            }
            $.ajax({
                url: "/ble/admin/mysql/admin_login",
                data:{
                    xml:"select_user_admin",
                    id: id,
                    pw: pw,
                    ck: ck,
                    bnum:bnum
                }, success:function(res){
                    if(res.length > 0){
                        if(res[0].ADMIN_LEVEL == "0010002"){
                            location.href="/ble/admin/cleanLog";
                        }else{
                            location.href="/ble/admin/main";
                        }
                        
                    }else{
                        Alert("아이디 비밀번호를 확인해 주세요.");
                    }
                }
            });
        });
    });
</script>
</head>
<style>
.left_menu_acco{display:none;}
.top_notice_grp{display: none;}
.content_box{padding:0;}
html, body{background:#fff;}
*{font-family: 'Montserrat','Pretendard', sans-serif;}
</style>
<body>
    <div class="login_wrap">
        <div class="login_center_box">
            <div class="log_cont log_cont01">
                <div class="center_tbox">
                    <!-- 샘플로고입니다. -->
                    <img src="/static/img/opener/w_oasys_logo.png">
                </div>
            </div>
            <div class="log_cont log_cont02">
                <div class="log_cont_grp">
                    <h2 class="login_tit">LOGIN</h2>
                    <h2 class="login_tit_eng">Please enter your login information.</h2>
                    <div class="login_tit_inpbox">
                        <div class="input_title_box input_title_box01">
                            <h2 class="input_title">Code Number</h2>
                            <input name="bnum" class="login_inp_style" type="text" placeholder="코드번호를 입력해주세요.">
                        </div>
                        <div class="input_title_box input_title_box01">
                            <h2 class="input_title">ID</h2>
                            <input name="id" class="login_inp_style" type="text" placeholder="아이디를 입력해주세요.">
                        </div>
                        <div class="input_title_box input_title_box02">
                            <h2 class="input_title">Password</h2>
                            <input name="pw" class="login_inp_style" type="password" placeholder="비밀번호를 입력해주세요.">
                        </div>
                        <div class="input_title_box input_title_box03">
                            <div class="dis_flex_row dis_flex_center" style=" cursor: pointer;">
                                <div class="width_24px">
                                    <input class="ck" type="checkbox" id="log_ck">
                                    <label class="ck_btn" for="log_ck"></label>
                                </div>
                                <label class="ck_text" for="log_ck">아이디 저장</label>
                            </div>
                        </div>
                        <button class="log_btn default_btn_big">LOGIN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>