<!DOCTYPE html>

<html>
<head>
<title><%=title%></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script type="text/javascript" src="/js/extention.js"></script>
<link href="/js/alert/jquery.alerts.phonekey.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/alert/jquery.alerts.js"></script>

<link href="/css/web/layout.css" rel="stylesheet"/>
<link href="/css/web/common.css" rel="stylesheet"/>

<!-- 폰트 -->
<link href="/css/font/pretendard.css" rel="stylesheet"/>


<link href="/js/alert/jquery.alerts.phonekey.css" rel="stylesheet"/>
<link href="/js/loading/loading-mobile.css" rel="stylesheet"/>

<script type="text/javascript" src="/js/alert/jquery.alerts.js"></script>
<script type="text/javascript" src="/js/loading/loading.js"></script>

<script type="text/javascript" src="/js/extention.js"></script>

<script type="text/javascript">
    $(window).ready(function() {
        if("<%=ck%>" == "1"){
            $("#log_ck").prop("checked", true);
            $("input[name='id']").val("<%=session.id%>");
            $("input[name='pw']").focus();
        }else{
            $("#log_ck").prop("checked", false);
        }
        $("input[name='pw']").keypress(function(e){
			if (e.keyCode == 13){
				$(".log_btn").click();
			}
		});
        $(".log_btn").on("click", function(){
            $.ajax({
                url:"/doorOn",
                data:{
                    topic: "oasyss32/20001/501"
                },
                success : function(result){
                    console.log(result);
                }
            });
            return;
            var ck = $("#log_ck").is(":checked");
            var id = $("input[name='id']").val();
            var pw = $("input[name='pw']").val();

            if(id == ""){
                Alert("아이디를 입력해 주세요.");
                $("input[name='id']").focus();
            }
            if(pw == ""){
                Alert("아이디를 입력해 주세요.");
                $("input[name='pw']").focus();
            }
            if(ck){
                ck = "1";
            }else{
                ck = "0";
            }
            $.ajax({
                url: "/opener/admin/mysql/admin_login",
                data:{
                    xml:"select_user_admin",
                    id: id,
                    pw: pw,
                    ck: ck
                }, success:function(res){
                    console.log(res);
                    if(res.length > 0){
                        location.href="/opener/admin/main";
                    }else{
                        Alert("아이디 비밀번호를 확인해 주세요.");
                    }
                }
            });
        });
    });
</script>
</head>
<style>
.left_menu_acco{display:none;}
.top_notice_grp{display: none;}
.content_box{padding:0;}
html, body{background:#e1e1e1;}
</style>
<body>
    <div class="login_wrap">
        <div class="dis_flex_row">
            <div class="log_cont log_cont01">
                <div class="log_cont_tbox">
                    <div class="log_cont_logo">
                        <img src="/static/img/web/<%=logoName%>"/>
                    </div>
                    <% if(saleType == 'jebee'){ %>
                        <h2 class="log_cont_txt">제비처럼 빠른 일 처리</h2>
                    <%}%>
                </div>
            </div>
            <div class="log_cont log_cont02">
                
                <h2 class="login_tit">LOGIN</h2>
                <div class="input_title_box input_title_box01">
                    <h2 class="input_title">아이디</h2>
                    <input name="id" class="key_list_inp" type="text">
                </div>
                <div class="input_title_box input_title_box02">
                    <h2 class="input_title">비밀번호</h2>
                    <input name="pw" class="key_list_inp" type="password">
                </div>
                <div class="input_title_box input_title_box03">
                    <input class="ck" type="checkbox" id="log_ck">
                    <label class="ck_btn" for="log_ck"></label>
                    <label class="ck_text" for="log_ck">아이디 저장</label>
                </div>
                <a class="log_btn">로그인</a>
            </div>
        </div>
    </div>
</body>
</html>