<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
<!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<style>
    .spin{display: none;}
    </style>
</head>
<script type="text/javascript">
    $(window).ready(function() {
        $(".view_grp_listbox").on("click", function(){
            $("#room_main_pop").css("display","flex");
        });
    });
</script>
<style>
.total_numbox{margin-bottom:0; margin-top:15px;}
</style>
<body>
    <div class="right_contbox">
        <div class="main_cont_tbox dis_flex_row dis_flex_center dis_flex_end margin_bottom_20">
            <h2 class="main_cont_tit">객실 제어</h2>
            <div class="main_cont_btn_grp">
                <div calss="main_cont_width main_cont_width01">
                    <button class="icon_btn excel"></button>
                </div>
            </div>
        </div>
        <div class="wcont_box wcont_box_style01">
            <div class="data_search_box dis_flex_row">
                <div class="data_search_grp">
                    <label class="setup_title">날짜</label>
                    <div class="inp_moving_widthbox inp_moving_widthbox01 dis_flex_row dis_flex_center">
                        <div class="inp_moving_width inp_moving_width01">
                            <div class="data_search_inpbox">
                                <input class="inp_style date" type="text">
                            </div>
                        </div>
                        <div class="inp_moving_width inp_moving_width02">
                            ~
                        </div>
                        <div class="inp_moving_width inp_moving_width02">
                            <div class="data_search_inpbox">
                                <input class="inp_style date" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data_search_grp">
                    <label class="setup_title">구분</label>
                    <div class="inp_moving_widthbox inp_moving_widthbox02">
                        <div class="inp_moving_width inp_moving_width01">
                            <div class="data_search_inpbox">
                                <select class="sel_style">
                                    <option selected>전체</option>
                                    <option>구분1</option>
                                    <option>구분2</option>
                                    <option>구분3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data_search_grp">
                    <label class="setup_title">상태</label>
                    <div class="inp_moving_widthbox inp_moving_widthbox03">
                        <div class="inp_moving_width inp_moving_width01">
                            <div class="data_search_inpbox">
                                <select class="sel_style">
                                    <option selected>전체</option>
                                    <option>구분1</option>
                                    <option>구분2</option>
                                    <option>구분3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data_search_grp">
                    <label class="setup_title">분류</label>
                    <div class="inp_moving_widthbox inp_moving_widthbox04">
                        <div class="inp_moving_width inp_moving_width01">
                            <div class="data_search_inpbox">
                                <select class="sel_style">
                                    <option selected>전체</option>
                                    <option>구분1</option>
                                    <option>구분2</option>
                                    <option>구분3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data_search_grp">
                    <label class="setup_title">동작</label>
                    <div class="inp_moving_widthbox inp_moving_widthbox05">
                        <div class="inp_moving_width inp_moving_width01">
                            <div class="data_search_inpbox">
                                <select class="sel_style">
                                    <option selected>전체</option>
                                    <option>구분1</option>
                                    <option>구분2</option>
                                    <option>구분3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data_search_grp">
                    <label class="setup_title">객실 번호</label>
                    <div class="inp_moving_widthbox inp_moving_widthbox06 dis_flex_row">
                        <div class="inp_moving_width inp_moving_width01">
                            <div class="data_search_inpbox">
                                <input class="inp_style search" type="text">
                            </div>
                        </div>
                        <div class="inp_moving_width inp_moving_width02">
                            <button class="default_btn">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="total_numbox dis_flex_row dis_flex_center dis_flex_end">
            <div class="total_tab_box dis_flex_row dis_flex_center">
                <div class="total_tab all active">전체</div>
                <div class="total_tab js">체크인</div>
                <div class="total_tab gs">공실</div>
                <div class="total_tab cl">청소 요청</div>
            </div>
            <div class="total_num_tit_box dis_flex_row dis_flex_center">
                <h2 class="total_num_tit">총 3 개</h2>
            </div>
        </div>
        <div class="view_grp">
            <ul class="view_grp_listbox">
                <li class="view_grp_list js on">
                    <div class="view_tbox view_tbox01">
                        <!-- 객실번호 -->
                        <div class="room_state_box">
                            <span class="room_state js">체크인</span>
                        </div>
                        <div class="view_tit_grp">
                            <div class="view_tit_box">
                                <h2 class="view_tit view_tit01">201</h2>
                            </div>
                            <div class="view_tit_box">
                                <h2 class="view_tit view_tit02 view_tit_state">Standard</h2>
                            </div>
                        </div>
                    </div>
                    <div class="view_tbox view_tbox03">
                        <!-- 객실번호 -->
                        <div class="key_tbox key_tbox01 on">
                            <div class="key_icon key_icon01"></div>
                            <p class="view_txt view_txt01">폰키</p>
                        </div>
                        <div class="key_tbox key_tbox02 on">
                            <div class="key_icon key_icon02"></div>
                            <p class="view_txt view_txt01">메이드키</p>
                        </div>
                        <div class="key_tbox key_tbox03 off">
                            <div class="key_icon key_icon03 "></div>
                            <p class="view_txt view_txt01">마스터키</p>
                        </div>
                    </div>
                    <div class="view_tbox view_tbox02">
                        <h2 class="view_tit view_tit03">사용기간</h2>
                        <p class="view_txt view_txt02">08.22 ~ 08.23</h2>
                    </div>
                </li>
                <li class="view_grp_list gs on">
                    <div class="view_tbox view_tbox01">
                        <!-- 객실번호 -->
                        <div class="room_state_box">
                            <span class="room_state gs">공실</span>
                        </div>
                        <div class="view_tit_grp">
                            <div class="view_tit_box">
                                <h2 class="view_tit view_tit01">202</h2>
                            </div>
                            <div class="view_tit_box">
                                <h2 class="view_tit view_tit02 view_tit_state">Standard</h2>
                            </div>
                        </div>
                    </div>
                    <div class="view_tbox view_tbox03">
                        <!-- 객실번호 -->
                        <div class="key_tbox key_tbox01 on">
                            <div class="key_icon key_icon01"></div>
                            <p class="view_txt view_txt01">폰키</p>
                        </div>
                        <div class="key_tbox key_tbox02 off">
                            <div class="key_icon key_icon02 off"></div>
                            <p class="view_txt view_txt01">메이드키</p>
                        </div>
                        <div class="key_tbox key_tbox03 off">
                            <div class="key_icon key_icon03"></div>
                            <p class="view_txt view_txt01">마스터키</p>
                        </div>
                    </div>
                    <div class="view_tbox view_tbox02">
                        <h2 class="view_tit view_tit03">사용기간</h2>
                        <p class="view_txt view_txt02">08.22 ~ 08.23</h2>
                    </div>
                </li>
                <li class="view_grp_list cl">
                    <div class="view_tbox view_tbox01">
                        <!-- 객실번호 -->
                        <div class="room_state_box">
                            <span class="room_state cl">청소 요청</span>
                        </div>
                        <div class="view_tit_grp">
                            <div class="view_tit_box">
                                <h2 class="view_tit view_tit01">203</h2>
                            </div>
                            <div class="view_tit_box">
                                <h2 class="view_tit view_tit02 view_tit_state">Standard</h2>
                            </div>
                        </div>
                    </div>
                    <div class="view_tbox view_tbox03">
                        <!-- 객실번호 -->
                        <div class="key_tbox key_tbox01 off">
                            <div class="key_icon key_icon01"></div>
                            <p class="view_txt view_txt01">폰키</p>
                        </div>
                        <div class="key_tbox key_tbox02 off">
                            <div class="key_icon key_icon02 "></div>
                            <p class="view_txt view_txt01">메이드키</p>
                        </div>
                        <div class="key_tbox key_tbox03 on">
                            <div class="key_icon key_icon03 off"></div>
                            <p class="view_txt view_txt01">마스터키</p>
                        </div>
                    </div>
                    <div class="view_tbox view_tbox02">
                        <h2 class="view_tit view_tit03">사용기간</h2>
                        <p class="view_txt view_txt02">00.00 ~ 00.00</h2>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="room_main_pop" class="popup_wrap" style="display:none;">
        <div class="popup_contbox">
            <div class="popup_header_grp">
                <div class="popup_header dis_flex_row dis_flex_center dis_flex_end">
                    <div class="dis_flex_row dis_flex_center">
                        <div class="dis_flex_row dis_flex_center">
                            <button class="room_link_btn on" id="connect">
                                <span class="room_link_icon"></span>
                                연결
                            </button>
                            <h2 class="popup_title popup_title01">201</h2>
                            <h2 class="popup_title popup_title02">Standard</h2>
                            <h2 class="popup_title popup_title03 js">체크인</h2>
                            <h2 class="popup_title popup_title03 gs">공실</h2>
                            <h2 class="popup_title popup_title03 cl">청소 요청</h2>
                        </div>
                    </div>
                    <div class="dis_flex_row dis_flex_center">
                        <div class="view_tbox view_tbox03">
                            <!-- 객실번호 -->
                            <div class="key_tbox key_tbox01 on">
                                <div class="key_icon key_icon01"></div>
                                <p class="view_txt view_txt01">폰키</p>
                            </div>
                            <div class="key_tbox key_tbox02 on">
                                <div class="key_icon key_icon02"></div>
                                <p class="view_txt view_txt01">메이드키</p>
                            </div>
                            <div class="key_tbox key_tbox03 off">
                                <div class="key_icon key_icon03 "></div>
                                <p class="view_txt view_txt01">마스터키</p>
                            </div>
                        </div>
                        <a class="popup_close"></a>
                    </div>
                </div>
                <div class="popup_header_tabgrp">
                    <ul class="popup_header_tab_ul dis_flex_row">
                        <li class="popup_header_li active">
                            <a class="popup_header_li_btn">객실 정보</a>
                        </li>
                        <li class="popup_header_li">
                            <a class="popup_header_li_btn">키 발급 내역</a>
                        </li>
                        <li class="popup_header_li">
                            <a class="popup_header_li_btn">객실 출입 내역</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="popup_body">
                <div class="pop_cont_grp pop_cont_grp01" style="display: block;">
                    <div class="pop_cont_tbox dis_flex_row dis_flex_center dis_flex_end">
                        <h2 class="pop_cont_tit">상세 정보</h2>
                        <div class="pop_cont_btnbox">
                            <div class="pop_cont_btn_width pop_cont_btn_width01">
                                
                            </div>
                        </div>
                    </div>
                    <div class="pop_cont_box pop_cont_box01">
                        <div class="pop_cont_sub_tbox dis_flex_row dis_flex_center dis_flex_end">
                            <h2 class="pop_cont_sub_tit">고객 정보</h2>
                            <div class="pop_cont_btnbox">
                                <div class="pop_cont_btn_width pop_cont_btn_width01"></div>
                            </div>
                        </div>
                        <div class="pop_cont_input_grp pop_cont_input_grp01 dis_flex_row dis_flex_center">
                            <div class="pop_cont_input_box pop_cont_input_box01">
                                <label class="setup_title">성명</label>
                                <div class="data_search_inpbox">
                                    <input class="inp_style" type="text" value="홍길동" disabled>
                                </div>
                            </div>
                            <div class="pop_cont_input_box pop_cont_input_box02">
                                <label class="setup_title">연락처</label>
                                <div class="data_search_inpbox">
                                    <input class="inp_style" type="text" value="010-1234-5678" disabled>
                                </div>
                            </div>
                            <div class="pop_cont_input_box pop_cont_input_box03">
                                <label class="setup_title">사용 기간</label>
                                <div class="inp_moving_widthbox inp_moving_widthbox01 dis_flex_row dis_flex_center">
                                    <div class="inp_moving_width inp_moving_width01">
                                        <div class="data_search_inpbox">
                                            <input class="inp_style date" type="text" value="2022-08-24" disabled>
                                        </div>
                                    </div>
                                    <div class="inp_moving_width inp_moving_width02">
                                        ~
                                    </div>
                                    <div class="inp_moving_width inp_moving_width02">
                                        <div class="data_search_inpbox">
                                            <input class="inp_style date" type="text" value="2022-08-26" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pop_cont_input_box pop_cont_input_box04">
                                <label class="setup_title">비밀번호 설정 여부</label>
                                <ul class="tab_list_box dis_flex_row">
                                    <li class="tab_list active">
                                        <a class="tab_list_btn">설정 완료</a>
                                    </li>
                                    <li class="tab_list">
                                        <a class="tab_list_btn">미설정</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pop_cont_sub_box dis_flex_row dis_flex_center">
                        <div class="pop_cont_box pop_cont_box02">
                            <div class="pop_cont_sub_tbox dis_flex_row dis_flex_center dis_flex_end">
                                <h2 class="pop_cont_sub_tit">메이드키 정보</h2>
                                <div class="pop_cont_btnbox">
                                    <div class="pop_cont_btn_width pop_cont_btn_width01">
                                        <button class="default_btn_sm">메이드키 발급 내역</button>
                                    </div>
                                </div>
                            </div>
                            <div class="pop_cont_input_grp pop_cont_input_grp_key dis_flex_row dis_flex_bottom_end">
                                <div class="pop_cont_input_box pop_cont_input_box01">
                                    <label class="setup_title">메이드키 비밀번호 설정</label>
                                    <div class="pop_cont_input_widthbox dis_flex_row">
                                        <div class="pop_cont_input_width pop_cont_input_width01">
                                            <input class="inp_style" type="text" placeholder="메이드키 비밀번호 입력" value="1234#" disabled> 
                                        </div>
                                        <div class="pop_cont_input_width pop_cont_input_width02">
                                            <button class="default_btn_gray">수정</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pop_cont_input_box pop_cont_input_box02">
                                    <button class="default_btn">메이드키 발급</button>
                                </div>
                            </div>
                        </div>
                        <div class="pop_cont_box pop_cont_box03">
                            <div class="pop_cont_sub_tbox dis_flex_row dis_flex_center dis_flex_end">
                                <h2 class="pop_cont_sub_tit">마스터키 정보</h2>
                                <div class="pop_cont_btnbox">
                                    <div class="pop_cont_btn_width pop_cont_btn_width01">
                                        <button class="default_btn_sm">마스터키 발급 내역</button>
                                    </div>
                                </div>
                            </div>
                            <div class="pop_cont_input_grp pop_cont_input_grp_key dis_flex_row dis_flex_bottom_end">
                                <div class="pop_cont_input_box pop_cont_input_box01">
                                    <label class="setup_title">마스터키 비밀번호 설정</label>
                                    <div class="pop_cont_input_widthbox dis_flex_row">
                                        <div class="pop_cont_input_width pop_cont_input_width01">
                                            <input class="inp_style" type="text" placeholder="마스터키 비밀번호 입력" >
                                        </div>
                                        <div class="pop_cont_input_width pop_cont_input_width02">
                                            <button class="default_btn_gray">저장</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pop_cont_input_box pop_cont_input_box02">
                                    <button class="default_btn">마스터키 발급</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pop_cont_grp pop_cont_grp02" style="display:none;">
                    <div class="pop_total_numbox dis_flex_row dis_flex_center dis_flex_end">
                        <div class=" dis_flex_row dis_flex_center">
                            <h2 class="pop_cont_tit pop_cont_tit_right">키 발급 내역</h2>
                            <div class="total_tab_box dis_flex_row dis_flex_center">
                                <div class="total_tab all active">전체</div>
                                <div class="total_tab">메이드키</div>
                                <div class="total_tab">마스터키</div>
                            </div>
                        </div>
                        <h2 class="total_num_tit">총 3 개</h2>
                    </div>
                    <div class="table_over_stylebox pop_table_over_stylebox">
                        <div class="table_contbox table_header">
                            <table class="table_list">
                                <colgroup>
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="table_list_th text_left">객실 번호</th>
                                        <th class="table_list_th text_left">구분</th>
                                        <th class="table_list_th text_left">발급 날짜</th>
                                        <th class="table_list_th text_left">발급 상태</th>
                                        <th class="table_list_th text_left">처리자</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table_contbox table_body table_body_scroll">
                            <table class="table_list">
                                <colgroup>
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td class="table_list_td text_left">201</td>
                                        <td class="table_list_td text_left">마스터키</td>
                                        <td class="table_list_td text_left">2022-08-08 AM 10:05:53</td>
                                        <td class="table_list_td text_left">발급</td>
                                        <td class="table_list_td text_left">admin</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="empty_txt_box">
                                <p class="table_list_none">조회된 내역이 없습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pop_cont_grp pop_cont_grp03" style="display:none">
                    <div class="pop_total_numbox dis_flex_row dis_flex_center dis_flex_end">
                        <div class=" dis_flex_row dis_flex_center">
                            <h2 class="pop_cont_tit pop_cont_tit_right">객실 출입 내역</h2>
                            <div class="total_tab_box dis_flex_row dis_flex_center">
                                <div class="total_tab all active">전체</div>
                                <div class="total_tab">폰키</div>
                                <div class="total_tab">메이드키</div>
                                <div class="total_tab">마스터키</div>
                            </div>
                        </div>
                        <h2 class="total_num_tit">총 3 개</h2>
                    </div>
                    <div class="table_over_stylebox pop_table_over_stylebox">
                        <div class="table_contbox table_header">
                            <table class="table_list">
                                <colgroup>
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="table_list_th text_left">객실 번호</th>
                                        <th class="table_list_th text_left">객실 상태</th>
                                        <th class="table_list_th text_left">출입 날짜</th>
                                        <th class="table_list_th text_left">출입 구분</th>
                                        <th class="table_list_th text_left">사용자</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table_contbox table_body table_body_scroll">
                            <table class="table_list">
                                <colgroup>
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td class="table_list_td text_left">201</td>
                                        <td class="table_list_td text_left">체크인</td>
                                        <td class="table_list_td text_left">2022-08-08 AM 10:05:53</td>
                                        <td class="table_list_td text_left">폰키</td>
                                        <td class="table_list_td text_left">홍길동</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="empty_txt_box">
                                <p class="table_list_none">조회된 내역이 없습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup_footer">
                <div class="popup_btn_grp dis_flex_row dis_flex_center dis_flex_right">
                    <div class="popup_btn_width popup_btn_width01">
                        <button class="popup_btn popup_btn01 popup_btn_cancel default_btn_white">취소</button>
                    </div>
                    <div class="popup_btn_width popup_btn_width02">
                        <button class="popup_btn popup_btn02 popup_btn_save default_btn_gray">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>