<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
<!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

</head>
<style>
</style>
<script type="text/javascript">
    var bsCode = "<%=bsCode%>";
    var level = "<%=session.level%>"
    var dcod = "";
    var logPage = 0;
    var pageSize = 10;
    var pageTotal = 0;
    var selectPage = 1;
    var sdate="";
    var edate="";
    var diff = "";
    function init(){
        $.loading.start(''); 
        $.ajax({
            url:"/mysql/mqtt",
            data:{
                xml:"mqtt_list",
                bsCode: pad(bsCode, 7),
                hotel: removePad(bsCode),
                dcod:dcod,
                diff:diff
            },success:function(res){
                var item = "";
                var count = 0;
                for(var i=0; i<res.length; i++){

                    if(diff == "0"){
                        
                        if(Number(res[i].CONNECT_DIFF) < 600){
                            if(res[i].CONNECT_DIFF != null){
                                count++;
                                item += "<tr>"
                                + "<td class='table_list_td text_left'>"+res[i].ROOM_CODE_NUM+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].ROOM_CODE_FLOOR+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].ROOM_CODE_HNAM+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].START_TIME+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].CONNECT_TIME+"</td>"
                                + "</tr>";
                            }
                            
                        }
                        
                    }else if(diff == "1"){
                        if(Number(res[i].CONNECT_DIFF) > 600 || res[i].CONNECT_DIFF == null){
                            count++;
                            item += "<tr>"
                                + "<td class='table_list_td text_left'>"+res[i].ROOM_CODE_NUM+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].ROOM_CODE_FLOOR+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].ROOM_CODE_HNAM+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].START_TIME+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].CONNECT_TIME+"</td>"
                                + "</tr>";
                        }
                    }else if(diff == ""){
                        count++;
                        item += "<tr>"
                                + "<td class='table_list_td text_left'>"+res[i].ROOM_CODE_NUM+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].ROOM_CODE_FLOOR+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].ROOM_CODE_HNAM+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].START_TIME+"</td>"
                                + "<td class='table_list_td text_left'>"+res[i].CONNECT_TIME+"</td>"
                                + "</tr>";
                    }
                }
                $("#tot_h2").text("총 "+comma(count)+"개");
                $("#mqtt_table tbody").empty();
                $("#mqtt_table tbody").append(item);
                $.loading.end(); 
            }
        });
    }
    $(window).ready(function() {
        $.ajax({
            url:"/mysql/room",
            data:{
                xml: "room_type_select",
                bsCode:pad(bsCode, 7)
            }, success: function(res){
                var item = "";
                for(var i=0; i<res.length; i++){
                    item += "<option value='"+res[i].ROOM_CODE_DCOD+"'>"+res[i].ROOM_CODE_HNAM+"</option>";
                }
                $("#rtype_select").append(item);
            }
        });
        $("#diff_select").on("change", function(){
            diff = $(this).val();
            init();
        });
        $("#rtype_select").on("change", function(){
            dcod = $(this).val();
            init();
        });
        init();
    });
</script>
<body>
    <input style="display: none;" type="file" id="id_file_upload" onchange="upload(event)"/>
    <div class="right_contbox">
        <div class="main_cont_tbox dis_flex_row dis_flex_center dis_flex_end margin_bottom_20">
            <h2 class="main_cont_tit">브릿지 설정</h2>
            <!-- <div class="main_cont_btn_grp dis_flex_row dis_flex_center">
                <div class="main_cont_width main_cont_width01">
                    <button id="sync_btn" class="icon_btn_txt_left refresh">동기화</button>
                </div>
                <div class="main_cont_width main_cont_width01">
                    <button id="upload_btn" class="icon_btn_txt_left excel">추가</button>
                </div>
                <div class="main_cont_width main_cont_width01">
                    <button class="icon_btn_txt_left download">저장</button>
                </div>
            </div> -->
        </div>
        <div class="wcont_box wcont_box_style01">
            <div class="data_search_box dis_flex_row margin_bottom_16">
                <div class="data_search_grp">
                    <label class="setup_title">타입</label>
                    <div class="inp_moving_widthbox inp_moving_widthbox02">
                        <div class="inp_moving_width inp_moving_width01">
                            <div class="data_search_inpbox">
                                <select id="rtype_select" class="sel_style">
                                    <option value="" selected>전체</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data_search_grp">
                    <label class="setup_title">연결 상태</label>
                    <div class="inp_moving_widthbox inp_moving_widthbox02">
                        <div class="inp_moving_width inp_moving_width01">
                            <div class="data_search_inpbox">
                                <select id="diff_select" class="sel_style">
                                    <option value="" selected>전체</option>
                                    <option value="0" >연결</option>
                                    <option value="1" >연결 끊김</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="total_numbox">
                <h2 id="tot_h2"class="total_num_tit">총 3 개</h2>
            </div>
            <div class="table_over_stylebox">
                <div class="table_contbox table_header">
                    <table class="table_list">
                        <colgroup>
                            <col width="200px">
                            <col width="200px">
                            <col width="200px">
                            <col width="200px">
                            <col width="200px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="table_list_th text_left">객실</th>
                                <th class="table_list_th text_left">층</th>
                                <th class="table_list_th text_left">타입</th>
                                <th class="table_list_th text_left">연결 날짜</th>
                                <th class="table_list_th text_left">최종 연결</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table_contbox table_body">
                    <table id="mqtt_table" class="table_list">
                        <colgroup>
                            <col width="200px">
                            <col width="200px">
                            <col width="200px">
                            <col width="200px">
                            <col width="200px">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="table_list_td text_left">로비</td>
                                <td class="table_list_td text_left">BLE</td>
                                <td class="table_list_td text_left">BOARD 제어</td>
                                <td class="table_list_td text_left">BOARD ON/OFF</td>
                                <td class="table_list_td text_left">
                                    <p class="table_list_td_ok">정상</p>
                                </td>
                                <td class="table_list_td text_left">2022-08-08 AM 10:05:53</td>
                                <td class="table_list_td text_left">00:00:01</td>
                            </tr>
                            <tr>
                                <td class="table_list_td text_left">로비</td>
                                <td class="table_list_td text_left">BLE</td>
                                <td class="table_list_td text_left">BOARD 제어</td>
                                <td class="table_list_td text_left">BOARD ON/OFF</td>
                                <td class="table_list_td text_left">
                                    <p class="table_list_td_no">지연</p>
                                </td>
                                <td class="table_list_td text_left">2022-08-08 AM 10:05:53</td>
                                <td class="table_list_td text_left">00:00:01</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>