<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />

<script type="text/javascript" src="/js/upload/load-image.all.min.js"></script>
<script type="text/javascript" src="/js/upload/profile_upload.js"></script>

<link href="/js/pieProgress/asPieProgress.css" rel="stylesheet" />
<script type="text/javascript" src="/js/pieProgress/jquery-asPieProgress.min.js"></script>


<script type="text/javascript">
	var imgName="";
	var imgPath="";

    $(window).ready(function() {
        pwChage = false;
        $('.pie_progress').asPieProgress({
			namespace: 'pie_progress'
		});
		$("#imgBtn").on("click", function(){
		// $(".chat_pop_wrap").css("display", "block");
			$("input[name='addFile']").click();
		});
		$("input[name='addFile']").on("change", function(e){
			addFiles(e, this);
		});
        $("#userPw").on("click", function(){
			if(!pwChage){
				Confirm("비밀번호를 변경 하시겠습니까?", function(){
					var item = "";
					item += "<div id='pwConfirmDiv' class='block_inp_box'>"
						+ "<label class='setup_tit'>비밀번호 확인</label>"
						+ "<input id='userPwConfirm' class='edit_inp' type='password' placeholder='비밀번호를 입력해주세요.'>"
						+ "</div>";
					$("#pwDiv").after(item);
					$("#userPw").val("");
					$("#userPw").attr("readonly", false);
					pwChage = true;
					$("#userPw").focus();
				});
			}
		});
        $("#userPw").on("focusout", function(){
			if(pwChage){
				if($(this).val() != $("#userPwConfirm").val()){
					if($("#pwConfirmDiv").parent("div").find("label").find("em").length == 0){
						$("#pwConfirmDiv label").append("<em class='confirmEm'>*비밀번호를 확인해 주세요.</em>");
					}
					
				}
			}
		});
		$(document).on("focusout", "#userPwConfirm", function(){
			if(pwChage){
				if($(this).val() != $("#userPw").val()){
					if($("#pwConfirmDiv").parent("div").find("label").find("em").length == 0){
						$("#pwConfirmDiv label").append("<em class='confirmEm'>*비밀번호를 확인해 주세요.</em>");
					}
				}else{
					$(this).parent("div").find("label").find("em").remove();
				}
			}
		});


        $("#saveBtn").on("click", function(){
            var pass="";
            if($("input[name='pop_user_name']").val() == ""){Alert("이름을 입력해 주세요.",function(){$("input[name='pop_user_name']").focus();});return;}
            if($("input[name='pop_user_tel']").val() == ""){Alert("전화번호를 입력해 주세요.",function(){$("input[name='pop_user_tel']").focus();});return;}
            if($("input[name='pop_user_id']").val() == ""){Alert("아이디를 입력해 주세요.",function(){$("input[name='pop_user_id']").focus();});return;}
            if($("input[name='pop_user_addr1']").val() == ""){Alert("주소를 입력해 주세요.",function(){});return;}
            if($("input[name='pop_user_addr2']").val() == ""){Alert("상세주소를 입력해 주세요.",function(){});return;}
            
            if(pwChage){
				pass = $("#userPw").val();
				if($("#pwConfirmDiv").parent("div").find("label").find("em").length > 0){
					Alert("비밀번호를 확인해 주세요.");
					return;
				}
				if(pass == ""){
					Alert("비밀번호를 확인해 주세요.");
					return;
				}
			}
            $.ajax({
            url : "/mysql/user",
            data: {
                xml: "admin_user_sett",
                userId: "<%=session.id%>",
                adminKey: "<%=session.key%>",
                name: $("input[name='pop_user_name'").val(),
                tel: $("input[name='pop_user_tel']").val(),
                addr1: $("input[name='pop_user_addr1']").val(),
                addr2: $("input[name='pop_user_addr2']").val(),
                imgname: imgName,
                imgpath: imgPath,
                pass: pass,
                hotelCode: "<%=hotelCode%>"
            } ,success: function(re){
                if(pwChage){
                    Alert("비밀번호가 변경 되었습니다.\n다시 로그인 해주세요.", function(){
                        $.ajax({
                            url:"./user_log_out",
                            success: function(re){
                                location.href = "./login";
                            }
                        });
                    });
                }else{
                    Alert("저장 되었습니다.", function(){
                        window.location.reload(true);
                    });
                }
                }  
            });
        });

        $.ajax({
            url: "/mysql/user",
            data:{
                xml: "admin_select",
                adminKey: "<%=session.key%>"
            }, success:function(data){
                console.log(data);
                mainUser = data[0].ADMIN_NAME;
                mainUserId = data[0].ADMIN_ID;
                $("input[name='pop_user_name']").val(data[0].ADMIN_NAME);
                $("input[name='pop_user_tel']").val(data[0].ADMIN_TEL);
                $("input[name='pop_user_id']").val(data[0].ADMIN_ID);
                $("input[name='pop_user_addr1']").val(data[0].ADMIN_ADDR1);
                $("input[name='pop_user_addr2']").val(data[0].ADMIN_ADDR2);
                $("select[name='pop_user_use']").val(data[0].ADMIN_USE);
                $("input[name='pop_user_id']").attr("readonly", true);
                if(data[0].ADMIN_IMGNAME != null){
                    imgPath = data[0].ADMIN_IMGPATH;
					imgName = data[0].ADMIN_IMGNAME;
                    $("#user_img").css("background-image", "url("+imgPath+imgName+")");
                    // var userImg = "<img style='margin:0;width:100%; height:100%; border-radius:20px !important;' src='"+path+imgName+"' class='rounded float-left' alt=''></img>";
                    // $("#user_img").append(userImg);
                }
            }
        });
    });

</script>
</head>
<style>
.profile_img_width01{width:199px;}
.profile_img_userbox{width: 199px; height: 199px;}
.confirmEm{color: red;}
</style>
<body>
    <div class="cont_shadow_box cont_shadow_box_800px padding0">
        <div class="cont_tit_box cont_tit_box_padding20">
            <h2 class="cont_tit">계정 변경</h2>
        </div>
        <div class="table_notice_padding">
            <div id="pop_user_div" class="">
                <div class="block_inp_box profile_img_widthbox">
                    <div class="profile_img_width profile_img_width01">
                        <div class="profile_img_userbox">
                            <div id="user_img" class="profile_img_user revise_cont_user_img"></div>
                        </div>
                        <div class="profile_img_change_btn">
                            <button id="imgBtn" class="btn_small btn_gray">프로필 변경</button>
                        </div>
                        <p class="profile_img_txt">프로필 편집을 하지 않을 경우<br>기본 프로필 이미지로 변경됩니다.</p>
                    </div>
                </div>
                <div class="block_inp_box_rightbox">
                    <div class="block_inp_box_widthbox">
                        <div class="block_inp_box block_inp_box_width">
                            <label class="setup_tit">이름</label>
                            <div class="edit_inpbox">
                                <input name="pop_user_name" type="text" class="edit_inp">
                            </div>
                        </div>
                        <div class="block_inp_box block_inp_box_width">
                            <label class="setup_tit">전화번호</label>
                            <div class="edit_inpbox">
                                <input name="pop_user_tel" type="text" class="edit_inp phone">
                            </div>
                        </div>
                    </div>
                    <div class="block_inp_box">
                        <label class="setup_tit">주소</label>
                        <div class="edit_inpbox">
                            <input name="pop_user_addr1" type="text" class="edit_inp ">
                        </div>
                    </div>
                    <div class="block_inp_box">
                        <label class="setup_tit">상세 주소</label>
                        <div class="edit_inpbox">
                            <input name="pop_user_addr2" type="text" class="edit_inp ">
                        </div>
                    </div>
                    <div class="block_inp_box">
                        <label class="setup_tit">ID</label>
                        <div class="edit_inpbox">
                            <input name="pop_user_id" type="text" class="edit_inp">
                        </div>
                    </div>
                    <div id="pwDiv" class="block_inp_box">
                        <label class="setup_tit">비밀번호</label>
                        <div class="edit_inpbox">
                            <input id="userPw" name="" value="**********" type="password" class="edit_inp" placeholder="비밀번호를 입력해 주세요.">
                        </div>
                    </div>
                    <div class="block_inp_box block_flex_right">
                        <button id="saveBtn" class="btn btn_blue">저장</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <input style="display: none;" type="file" name="addFile" accept="*" multiple> 
    <form id="frm" style="display:none;" method="POST" enctype="multipart/form-data" action="/upload/create">
</body>
</html>