<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />
<!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
<!-- <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<!-- 다음지도 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<style>
.spin{display: none;}
</style>
<script type="text/javascript">
    var oper = "<%=session.level%>"
    var userId = "<%=session.id%>";
    var logPage = 0;
    var pageSize = 10;
    var pageTotal = 0;
    var selectPage = 1;
    var bsCode = "<%=bsCode%>";
    var sdate="";
    var edate="";
    var name="";
    var use="";
    var level="";
    var selectKey="";
    function init(){
        $.loading.start(''); 
        $.ajax({
            url: "/mysql/user",
            data:{
                xml:"admin_list",
                bsCode: pad(bsCode, 7),
                sdate:sdate,
                edate:edate,
                page:logPage,
                pageSize:pageSize,
                name:name,
                use:use,
                level:level,
                    oper:oper
            }, success:function(res){
                if(res.length > 0){
                    $("#tot_h2").text("총 "+comma(res[0].counts)+"개");
                    pageTotal = res[0].counts;
                    var item ="";
                    
                    for(var i=0; i<res.length; i++){
                        var use = "";
                        if(res[i].ADMIN_USE == "1"){
                            use = "사용";
                        }else{
                            use = "미사용";
                        }
                        var addr = res[i].ADMIN_ADDR1 +" " + res[i].ADMIN_ADDR2;
                        if(addr != " "){
                            addr = addr.substring(0,6)+"...";
                        }
                        

                        item += "<tr data-key='"+res[i].ADMIN_KEY+"'>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].ADMIN_ID
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].CODE_CONTENT
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + use
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].ADMIN_NAME
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].ADMIN_TEL
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + addr
                            + "</td>"
                            
                            + "<td class='table_list_td text_left'>"
                            + res[i].ADMIN_FUSER
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].ADMIN_FDATE
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].ADMIN_LUSER
                            + "</td>"
                            + "<td class='table_list_td text_left'>"
                            + res[i].ADMIN_LDATE
                            + "</td>"
                            + "</tr>";
                    }
                }else{
                    pageTotal = 0;
                    selectPage = 1;
                    logPage = 0;
                    $("#tot_h2").text("총 "+comma("0")+"개");
                }
                paging(pageTotal, pageSize, selectPage);
                $("#log_table tbody").empty();
                $("#log_table tbody").append(item);
                $.loading.end(); 
            }
        })
    }
    $(window).ready(function() {
        init();
        var myCal = bulmaCalendar.attach('.date_default_inp', {
            isRange: true,
            type: 'date',
            showFooter: false,
            dateFormat: 'yyyy-MM-dd'
        });
        $(".search_icon").on("click", function(){
            if($("input[name='dateSelect']").val() != ""){
                var dateInput = $("input[name='dateSelect']").val();
                dateInput = dateInput.split(" ~ ");
                sdate = dateInput[0];
                edate = dateInput[1];
            }else{
                sdate = "";
            }
            if($("#search").val() != ""){
                name = $("#search").val();
            }else{
                name = "";
            }
            init();
        });
        $.ajax({
            url:"/mysql/user",
            data:{
                xml: "codeList_user",
                cod:"001",
                oper:oper
            }, success: function(res){
                var item = "";
                for(var i=0; i<res.length; i++){
                    item += "<option value='"+res[i].CODE_CODE+"'>"+res[i].CODE_CONTENT+"</option>";
                }
                $("#level_select").append(item);
            }
        });
        $("#level_select").on("change", function(){
            level = $(this).val();
            init();
        });
        $("#use_select").on("change", function(){
            use = $(this).val();
            init();
        });
        $(document).on("click", "#foot_page a", function(){
            var page = $(this).attr("data-page");
            var currentpage = page - 1;
            currentpage = currentpage == 0 ? currentpage : currentpage*pageSize;
            selectPage = page;
            logPage = currentpage;

            init();
        });
        $("#pop_confirm_btn").on("click", function(){
            $("#pop_div").css("display","none");
            init();
        });
        $("#pop_close_btn").on("click", function(){
            $("#pop_div").css("display","none");
            init();
        });
        $("#add_btn").on("click",function(){
            $("#pop_id").val("");
            $("#pop_level_select option:eq(0)").attr("selected","selected");
            $("#pop_use_select option:eq(0)").attr("selected","selected");
            $("#pop_name").val("");
            $("#pop_tel").val("");
            $("#pop_addr1").val("");
            $("#pop_addr2").val("");
            $("#pop_id").attr("readonly", false);
            $("#pop_pass").attr("placeHolder", "초기 비밀번호로 설정 됩니다.");
            selectKey = "";
            $("#pop_pass_change").parent("div").css("display","none");
            $.ajax({
                url:"/mysql/user",
                data:{
                    xml: "codeList_user",
                    cod:"001",
                    oper:oper
                }, success: function(res){
                    var item = "";
                    
                    for(var i=0; i<res.length; i++){
                        item += "<option value='"+res[i].CODE_CODE+"'>"+res[i].CODE_CONTENT+"</option>";
                    }
                    $("#pop_level_select").empty();
                    $("#pop_level_select").append(item);


                    $("#pop_div").css("display","flex");
                    
                }
            });
        });
        $(document).on("click", "#log_table tbody tr", function(){
            $("#pop_pass_change").parent("div").css("display","block");
            $("#pop_id").attr("readonly", true);
            $("#pop_pass").attr("placeHolder", "");
            $.loading.start(''); 
            var key = $(this).attr("data-key");
            selectKey = key;
            $.ajax({
                url:"/mysql/user",
                data:{
                    xml: "codeList_user",
                    cod:"001",
                    oper:oper
                }, success: function(res){
                    var item = "";
                    
                    for(var i=0; i<res.length; i++){
                        item += "<option value='"+res[i].CODE_CODE+"'>"+res[i].CODE_CONTENT+"</option>";
                    }
                    $("#pop_level_select").empty();
                    $("#pop_level_select").append(item);


                    $("#pop_div").css("display","flex");
                    
                    $.ajax({
                        url:"/mysql/user",
                        data:{
                            xml: "user_select",
                            key: key,
                            bsCode: pad(bsCode, 7)
                        }, success:function(res2){
                            $.loading.end(); 
                            $("#pop_id").val(res2[0].ADMIN_ID);
                            $("#pop_level_select").val(res2[0].ADMIN_LEVEL);
                            $("#pop_use_select").val(res2[0].ADMIN_USE);
                            $("#pop_name").val(res2[0].ADMIN_NAME);
                            $("#pop_tel").val(res2[0].ADMIN_TEL);
                            $("#pop_addr1").val(res2[0].ADMIN_ADDR1);
                            $("#pop_addr2").val(res2[0].ADMIN_ADDR2);
                        }
                    });
                }
            });
        });
        $("#pop_pass_change").on("click", function(){
            Confirm("비밀번호를 초기화 하시겠습니까?\n초기비밀번호는 [123456]입니다.", function(){
                $.ajax({
                    url:"/mysql/user",
                    data:{
                        xml:"user_pass_reset",
                        key:selectKey,
                        userId:userId,
                        bsCode:pad(bsCode)
                    },success:function(res){
                        Alert("초기화 되었습니다.");
                    }
                });
            });
        });
        $("#pop_save_btn").on("click", function(){
            var xml = "user_insert";
            var id = $("#pop_id").val();
            var level = $("#pop_level_select").val();
            var use = $("#pop_use_select").val();
            var name = $("#pop_name").val();
            var tel = $("#pop_tel").val();
            var addr1 = $("#pop_addr1").val();
            var addr2 = $("#pop_addr2").val();


            if(selectKey == ""){
            }else{
                xml = "user_update";
            }
            $.ajax({
                url:"/mysql/user",
                data:{
                    key:selectKey,
                    xml: xml,
                    id:id,
                    level:level,
                    use:use,
                    name:name,
                    tel:tel,
                    addr1:addr1,
                    addr2:addr2,
                    userId:userId,
                    bsCode:pad(bsCode)
                }, success:function(res){
                    Alert("저장 되었습니다.", function(){
                        location.reload();
                    });
                }
            });
        });
        $("#pop_addr1").on("click", function(){
            new daum.Postcode({
                oncomplete: function(data) {
                    if(data.userSelectedType == "R"){
                        $("#pop_addr1").val(data.roadAddress);
                    }else{
                        $("#pop_addr1").val(data.jibunAddress);
                    }
                    
                }
            }).open();
        });
    });
</script>
<body>
    <div class="right_contbox">
        <div class="main_cont_tbox dis_flex_row dis_flex_center dis_flex_end margin_bottom_20">
            <h2 class="main_cont_tit">회원 설정</h2>
            <div class="main_cont_btn_grp">
                <div calss="main_cont_width main_cont_width01">
                    <button id="add_btn" class="icon_btn_txt_left plus">회원 추가</button>
                </div>
            </div>
        </div>
        <div class="wcont_box wcont_box_style01">
            <div class="data_search_box dis_flex_row margin_bottom_16">
                <div class="data_search_box dis_flex_row margin_bottom_16">
                    <div class="data_search_grp">
                        <label class="setup_title">권한</label>
                        <div class="inp_moving_widthbox inp_moving_widthbox02">
                            <div class="inp_moving_width inp_moving_width01">
                                <div class="data_search_inpbox">
                                    <select id="level_select" class="sel_style">
                                        <option value="" selected>전체</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="data_search_grp">
                        <label class="setup_title">사용 여부</label>
                        <div class="inp_moving_widthbox inp_moving_widthbox02">
                            <div class="inp_moving_width inp_moving_width01">
                                <div class="data_search_inpbox">
                                    <select id="use_select" class="sel_style">
                                        <option value="" selected>전체</option>
                                        <option value="1">사용</option>
                                        <option value="0">사용 안함</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="data_search_grp">
                        <label class="setup_title">등록 날짜</label>
                        <div class="inp_moving_widthbox inp_moving_widthbox01 dis_flex_row dis_flex_center">
                            <div class="inp_moving_width inp_moving_width01">
                                <div class="data_search_inpbox">
                                    <input style="min-width: 220px;" name="dateSelect" class="inp_style date_default_inp date date_inp" type="text" placeholder="날짜를 선택해주세요.">
                                </div>
                            </div>
                            <div class="inp_moving_width inp_moving_width01">
                                <div class="data_search_inpbox">
                                    <input id="search" class="inp_style search search_inp" type="text">
                                </div>
                            </div>
                            <div style="width:60px;" class="inp_moving_width inp_moving_width02">
                                <button class="default_btn search_icon">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="total_numbox">
                <h2 id="tot_h2"class="total_num_tit">총 0개</h2>
            </div>
            <div class="table_over_stylebox">
                <div class="table_contbox table_header">
                    <table class="table_list">
                        <colgroup>
                            <col width="80px">
                            <col width="100px">
                            <col width="100px">
                            <col width="120px">
                            <col width="100px">
                            <col width="80px">
                            <col width="100px">
                            <col width="140px">
                            <col width="100px">
                            <col width="140px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="table_list_th text_left">ID</th>
                                <th class="table_list_th text_left">권한</th>
                                <th class="table_list_th text_left">사용유무</th>
                                <th class="table_list_th text_left">이름</th>
                                <th class="table_list_th text_left">연락처</th>
                                <th class="table_list_th text_left">주소</th>
                                <th class="table_list_th text_left">등록자</th>
                                <th class="table_list_th text_left">등록 날짜</th>
                                <th class="table_list_th text_left">처리자</th>
                                <th class="table_list_th text_left">처리 날짜</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table_contbox table_body">
                    <table id="log_table" class="table_list hover_table">
                        <colgroup>
                            <col width="80px">
                            <col width="100px">
                            <col width="100px">
                            <col width="120px">
                            <col width="100px">
                            <col width="80px">
                            <col width="100px">
                            <col width="140px">
                            <col width="100px">
                            <col width="140px">
                        </colgroup>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pagebtn_grp_box">
                <div  id="foot_page" class="pagebtn_grp dis_flex_center dis_flex_row">
                    <a class="pagebtn prev"></a>
                    <a class="pagebtn num active">1</a>
                    <a class="pagebtn num">2</a>
                    <a class="pagebtn num">3</a>
                    <a class="pagebtn num">4</a>
                    <a class="pagebtn num">5</a>
                    <a class="pagebtn next"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="pop_div" class="popup_wrap" style="display:none;">
        <div class="popup_contbox">
            <div class="popup_header_grp">
                <div class="popup_header dis_flex_row dis_flex_center dis_flex_end">
                    <div class="dis_flex_row dis_flex_center">
                        <div class="dis_flex_row dis_flex_center">
                            <h2 id="" class="popup_title popup_title01">회원 정보</h2>
                            
                        </div>
                    </div>
                    <div class="dis_flex_row dis_flex_center">
                        <a id="pop_close_btn" class="popup_close"></a>
                    </div>
                </div>
                
            </div>
            <div class="popup_body">
                <div class="pop_table_contbox">
                    <div class="pop_cont_inp_grp pop_cont_inp_grp_width pop_cont_inp_grp02 dis_flex_row dis_flex_center margin_bottom_16">
                        <div class="pop_cont_inp_box pop_cont_inp_box01">
                            <label class="setup_title">ID</label>
                            <input id="pop_id" value="" class="inp_style" type="text" readonly>
                        </div>
                        <div class="pop_cont_inp_box pop_cont_inp_box02">
                            <label class="setup_title">비밀번호</label>
                            <div class="pw_btn_widthbox dis_flex_row dis_flex_center">
                                <div class="pw_btn_width pw_btn_width01">
                                    <input id="pop_pass" value="" class="inp_style" type="password" disabled>
                                </div>
                                <div class="pw_btn_width pw_btn_width02">
                                    <button id="pop_pass_change" class="default_btn">비밀번호 초기화</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="pop_cont_inp_grp pop_cont_inp_grp_width pop_cont_inp_grp01 dis_flex_row dis_flex_center margin_bottom_16">
                        <div class="pop_cont_inp_box pop_cont_inp_box01">
                            <label class="setup_title">권한</label>
                            <select id="pop_level_select" class="sel_style">
                                <option value="" selected="">전체</option>
                            </select>
                        </div>
                        <div class="pop_cont_inp_box pop_cont_inp_box02">
                            <label class="setup_title">사용유무</label>
                            <select id="pop_use_select" class="sel_style">
                                <option value="1">사용</option>
                                <option value="0">미사용</option>
                            </select>
                           
                        </div>
                    </div>
                    <div class="pop_cont_inp_grp pop_cont_inp_grp_width pop_cont_inp_grp01 dis_flex_row dis_flex_center margin_bottom_16">
                        <div class="pop_cont_inp_box pop_cont_inp_box01">
                            <label class="setup_title">이름</label>
                            <input id="pop_name" value="" class="inp_style" type="text">
                        </div>
                        <div class="pop_cont_inp_box pop_cont_inp_box02">
                            <label class="setup_title">연락처</label>
                            <input id="pop_tel" value="" class="inp_style" type="text">
                        </div>
                    </div>
                    <div class="pop_cont_inp_grp pop_cont_inp_grp_width pop_cont_inp_grp02 dis_flex_row dis_flex_center margin_bottom_16">
                        <div class="pop_cont_inp_box pop_cont_inp_box01">
                            <label class="setup_title">주소</label>
                            <input id="pop_addr1" value="" class="inp_style" type="text" readonly>
                        </div>
                        <div class="pop_cont_inp_box pop_cont_inp_box02">
                            <label class="setup_title">상세 주소</label>
                            <input id="pop_addr2" value="" class="inp_style" type="text">
                        </div>
                    </div>
                    <!-- <div class="pop_cont_inp_grp pop_cont_inp_grp_width pop_cont_inp_grp02 dis_flex_row dis_flex_center margin_bottom_16">
                        <div class="pop_cont_inp_box pop_cont_inp_box01">
                            <label class="setup_title">등록자</label>
                            <input id="" value="admin" class="inp_style" type="text">
                        </div>
                        <div class="pop_cont_inp_box pop_cont_inp_box02">
                            <label class="setup_title">등록 날짜</label>
                            <input id="" value="2022-09-16 PM 16:43" class="inp_style date_default_inp date" type="text">
                        </div>
                    </div>
                    <div class="pop_cont_inp_grp pop_cont_inp_grp_width pop_cont_inp_grp02 dis_flex_row dis_flex_center">
                        <div class="pop_cont_inp_box pop_cont_inp_box01">
                            <label class="setup_title">처리자</label>
                            <input id="" value="admin" class="inp_style" type="text">
                        </div>
                        <div class="pop_cont_inp_box pop_cont_inp_box02">
                            <label class="setup_title">처리 날짜</label>
                            <input id="" value="2022-09-16 PM 16:43" class="inp_style date_default_inp date" type="text">
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="popup_footer">
                <div class="popup_btn_grp dis_flex_row dis_flex_center dis_flex_right">
                    <div class="popup_btn_width popup_btn_width01">
                        <button id="pop_save_btn" class="popup_btn popup_btn02 popup_btn_save default_btn_darkengray">저장</button>
                    </div>
                    <div class="popup_btn_width popup_btn_width02">
                        <button id="pop_confirm_btn" class="popup_btn popup_btn02 popup_btn_save default_btn_gray">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>