<!DOCTYPE html>

<html>
<head>
<title><%=title%></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />



<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/js/mobile/chat.js"></script>
<script type="text/javascript" src="/js/upload/load-image.all.min.js"></script>
<script type="text/javascript" src="/js/upload/img_upload.js"></script>

<link href="/js/pieProgress/asPieProgress.css" rel="stylesheet" />
<script type="text/javascript" src="/js/pieProgress/jquery-asPieProgress.min.js"></script>

<link href="/js/image-popup/magnific-popup.css" rel="stylesheet" />
<script type="text/javascript" src="/js/image-popup/jquery.magnific-popup.js"></script>

<script type="text/javascript">
    var socket = io();
    var bleConnect = false;


</script>
<style>
    body, html{background-color:#fff;}
    .contents{padding: 20px; box-sizing: border-box; width: 100%; padding-top:80px;}
</style>
</head>
<body>
	<div class="contents">
        <div class="sub_page_wrap control_wrap">
            <div class="sub_page_topbox">
                <div class="sub_page_icon">
                    <img src="/static/img/mobile/door/control_icon.png">
                </div>
                <div class="sub_page_tbox">
                    <p class="sub_page_txt">Room Control</p>
                    <h2 class="sub_page_tit">객실 제어</h2>
                </div>
            </div>
           <div class="cont_list_box">
                <ul class="cont_list_ul">
                    <li class="cont_list_li">
                        <div class="cont_list_tbox">
                            <div class="cont_list_icon cont_list_all">

                            </div>
                            <h2 class="cont_list_tit">전체 전원</h2>
                        </div>
                        <div class="cont_list_togglebox">
                            <div class="radio_togle">
                                <input type="checkbox" class="tg nohidden" id="toggle1">
                                <label class="tg_btn item01 tg_check" for="toggle1"></label>
                            </div>
                        </div>
                    </li> 
                    <li class="cont_list_li">
                        <div class="cont_list_tbox">
                            <div class="cont_list_icon cont_list_light">

                            </div>
                            <h2 class="cont_list_tit">현관등</h2>
                        </div>
                        <div class="cont_list_togglebox">
                            <div class="radio_togle">
                                <input type="checkbox" class="tg nohidden" id="toggle2">
                                <label class="tg_btn item01 tg_check" for="toggle2"></label>
                            </div>
                        </div>
                    </li>
                    <li class="cont_list_li">
                        <div class="cont_list_tbox">
                            <div class="cont_list_icon cont_list_light">

                            </div>
                            <h2 class="cont_list_tit">전등1</h2>
                        </div>
                        <div class="cont_list_togglebox">
                            <div class="radio_togle">
                                <input type="checkbox" class="tg nohidden" id="toggle2">
                                <label class="tg_btn item01 tg_check" for="toggle2"></label>
                            </div>
                        </div>
                    </li>
                    <li class="cont_list_li">
                        <div class="cont_list_tbox">
                            <div class="cont_list_icon cont_list_light">

                            </div>
                            <h2 class="cont_list_tit">전등2</h2>
                        </div>
                        <div class="cont_list_togglebox">
                            <div class="radio_togle">
                                <input type="checkbox" class="tg nohidden" id="toggle2">
                                <label class="tg_btn item01 tg_check" for="toggle2"></label>
                            </div>
                        </div>
                    </li>
                    <li class="cont_list_li">
                        <div class="cont_list_tbox">
                            <div class="cont_list_icon cont_list_aircon">

                            </div>
                            <h2 class="cont_list_tit">에어컨</h2>
                        </div>
                        <div class="cont_list_togglebox">
                            <div class="radio_togle">
                                <input type="checkbox" class="tg nohidden" id="toggle3">
                                <label class="tg_btn item01 tg_check" for="toggle3"></label>
                            </div>
                        </div>
                    </li>
                    <li class="cont_list_li">
                        <div class="cont_list_tbox">
                            <div class="cont_list_icon cont_list_tv">

                            </div>
                            <h2 class="cont_list_tit">TV</h2>
                        </div>
                        <div class="cont_list_togglebox">
                            <div class="radio_togle">
                                <input type="checkbox" class="tg nohidden" id="toggle4">
                                <label class="tg_btn item01 tg_check" for="toggle4"></label>
                            </div>
                        </div>
                    </li>
                </ul>
           </div>
        </div>
	</div>
</body>
</html>