<!DOCTYPE html>

<html>
<head>
<title><%=title%></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />



<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/js/mobile/chat.js"></script>
<script type="text/javascript" src="/js/upload/load-image.all.min.js"></script>
<script type="text/javascript" src="/js/upload/img_upload.js"></script>

<link href="/js/pieProgress/asPieProgress.css" rel="stylesheet" />
<script type="text/javascript" src="/js/pieProgress/jquery-asPieProgress.min.js"></script>

<link href="/js/image-popup/magnific-popup.css" rel="stylesheet" />
<script type="text/javascript" src="/js/image-popup/jquery.magnific-popup.js"></script>

<script type="text/javascript">
    var socket = io();
    var bleConnect = false;


</script>
<style>
    body, html{background-color:#fff;}
    .contents{padding: 20px; box-sizing: border-box; width: 100%; padding-top:80px;}
</style>
</head>
<body>
	<div class="contents">
        <div class="sub_page_wrap order_wrap">
            <div class="sub_page_topbox">
                <div class="sub_page_icon">
                    <img src="/static/img/mobile/door/order_icon.png">
                </div>
                <div class="sub_page_tbox">
                    <p class="sub_page_txt">Smart Order</p>
                    <h2 class="sub_page_tit">스마트 오더</h2>
                </div>
            </div>
           <div class="cont_list_box">
                <ul class="order_state_ul">
                    <li class="order_state_li">
                        <a class="order_state_btn active">전체</a>
                    </li>
                    <li class="order_state_li">
                        <a class="order_state_btn">객실 비품</a>
                    </li>
                    <li class="order_state_li">
                        <a class="order_state_btn">음식</a>
                    </li>
                    <li class="order_state_li">
                        <a class="order_state_btn">음료</a>
                    </li>
                </ul>
                <ul class="order_list_ul">
                    <li class="order_list_li">
                        <div class="order_list_grp dis_flex_row dis_flex_row_center">
                            <div class="order_list_tbox">
                                <div class="order_list_imgbox">
                                    <div class="order_list_img"></div>
                                </div>
                                <div class="order_list_infobox">
                                    <h2 class="order_list_tit">칫솔세트</h2>
                                    <p class="order_list_txt">칫솔1+치약1+물컵1</p>
                                    <p class="order_list_price">5,000원</p>
                                </div>
                            </div>
                            <div class="order_list_togglebox">
                                <div class="pm_contbox dis_flex_row dis_flex_row_center">
                                    <a class="pm_cont_btn pm_cont_minus"></a>
                                    <div class="pm_num_box">
                                        <em class="pm_num">00</em>
                                    </div>
                                    <a class="pm_cont_btn pm_cont_plus"></a>
                                </div>
                            </div>
                        </div>
                        <div class="order_list_btnbox dis_flex_row dis_flex_row_center">
                            <a class="order_list_btn order_list_btn01">담기</a>
                            <a class="order_list_btn order_list_btn02">주문 요청</a>
                        </div>
                    </li> 
                    <li class="order_list_li">
                        <div class="order_list_grp dis_flex_row dis_flex_row_center">
                            <div class="order_list_tbox">
                                <div class="order_list_imgbox">
                                    <div class="order_list_img"></div>
                                </div>
                                <div class="order_list_infobox">
                                    <h2 class="order_list_tit">칫솔세트</h2>
                                    <p class="order_list_txt">칫솔1+치약1+물컵1</p>
                                    <p class="order_list_price">5,000원</p>
                                </div>
                            </div>
                            <div class="order_list_togglebox">
                                <div class="pm_contbox dis_flex_row dis_flex_row_center">
                                    <a class="pm_cont_btn pm_cont_minus"></a>
                                    <div class="pm_num_box">
                                        <em class="pm_num">00</em>
                                    </div>
                                    <a class="pm_cont_btn pm_cont_plus"></a>
                                </div>
                            </div>
                        </div>
                        <div class="order_list_btnbox dis_flex_row dis_flex_row_center">
                            <a class="order_list_btn order_list_btn01">담기</a>
                            <a class="order_list_btn order_list_btn02">주문 요청</a>
                        </div>
                    </li>
                    <li class="order_list_li">
                        <div class="order_list_grp dis_flex_row dis_flex_row_center">
                            <div class="order_list_tbox">
                                <div class="order_list_imgbox">
                                    <div class="order_list_img"></div>
                                </div>
                                <div class="order_list_infobox">
                                    <h2 class="order_list_tit">칫솔세트</h2>
                                    <p class="order_list_txt">칫솔1+치약1+물컵1</p>
                                    <p class="order_list_price">5,000원</p>
                                </div>
                            </div>
                            <div class="order_list_togglebox">
                                <div class="pm_contbox dis_flex_row dis_flex_row_center">
                                    <a class="pm_cont_btn pm_cont_minus"></a>
                                    <div class="pm_num_box">
                                        <em class="pm_num">00</em>
                                    </div>
                                    <a class="pm_cont_btn pm_cont_plus"></a>
                                </div>
                            </div>
                        </div>
                        <div class="order_list_btnbox dis_flex_row dis_flex_row_center">
                            <a class="order_list_btn order_list_btn01">담기</a>
                            <a class="order_list_btn order_list_btn02">주문 요청</a>
                        </div>
                    </li>
                </ul>
           </div>
           <div class="shop_total_box">
                <a class="bag_close_btn"></a>
                <div class="shop_total_tbox dis_flex_row dis_flex_row_center dis_flex_row_end">
                    <h2 class="shop_total_tit dis_flex_row dis_flex_row_center"><span class="shop_total_bag_icon"></span>장바구니</h2>
                </div>
                <div class="shop_total_grp">
                    <ul class="order_list_ul">
                        <li class="order_list_li">
                            <div class="order_list_grp dis_flex_row dis_flex_row_center">
                                <div class="order_list_tbox">
                                    <div class="order_list_imgbox">
                                        <div class="order_list_img"></div>
                                    </div>
                                    <div class="order_list_infobox">
                                        <h2 class="order_list_tit">칫솔세트</h2>
                                        <p class="order_list_txt">칫솔1+치약1+물컵1</p>
                                        <p class="order_list_price">5,000원</p>
                                    </div>
                                </div>
                                <div class="order_list_togglebox">
                                    <div class="pm_contbox dis_flex_row dis_flex_row_center">
                                        <a class="pm_cont_btn pm_cont_minus"></a>
                                        <div class="pm_num_box">
                                            <em class="pm_num">00</em>
                                        </div>
                                        <a class="pm_cont_btn pm_cont_plus"></a>
                                    </div>
                                </div>
                            </div>
                            <a class="delete_btn"></a>
                        </li>
                        <li class="order_list_li">
                            <div class="order_list_grp dis_flex_row dis_flex_row_center">
                                <div class="order_list_tbox">
                                    <div class="order_list_imgbox">
                                        <div class="order_list_img"></div>
                                    </div>
                                    <div class="order_list_infobox">
                                        <h2 class="order_list_tit">칫솔세트</h2>
                                        <p class="order_list_txt">칫솔1+치약1+물컵1</p>
                                        <p class="order_list_price">5,000원</p>
                                    </div>
                                </div>
                                <div class="order_list_togglebox">
                                    <div class="pm_contbox dis_flex_row dis_flex_row_center">
                                        <a class="pm_cont_btn pm_cont_minus"></a>
                                        <div class="pm_num_box">
                                            <em class="pm_num">00</em>
                                        </div>
                                        <a class="pm_cont_btn pm_cont_plus"></a>
                                    </div>
                                </div>
                            </div>
                            <a class="delete_btn"></a>
                        </li>
                        <li class="order_list_li">
                            <div class="order_list_grp dis_flex_row dis_flex_row_center">
                                <div class="order_list_tbox">
                                    <div class="order_list_imgbox">
                                        <div class="order_list_img"></div>
                                    </div>
                                    <div class="order_list_infobox">
                                        <h2 class="order_list_tit">칫솔세트</h2>
                                        <p class="order_list_txt">칫솔1+치약1+물컵1</p>
                                        <p class="order_list_price">5,000원</p>
                                    </div>
                                </div>
                                <div class="order_list_togglebox">
                                    <div class="pm_contbox dis_flex_row dis_flex_row_center">
                                        <a class="pm_cont_btn pm_cont_minus"></a>
                                        <div class="pm_num_box">
                                            <em class="pm_num">00</em>
                                        </div>
                                        <a class="pm_cont_btn pm_cont_plus"></a>
                                    </div>
                                </div>
                            </div>
                            <a class="delete_btn"></a>
                        </li>
                        <li class="order_list_li">
                            <div class="order_list_grp dis_flex_row dis_flex_row_center">
                                <div class="order_list_tbox">
                                    <div class="order_list_imgbox">
                                        <div class="order_list_img"></div>
                                    </div>
                                    <div class="order_list_infobox">
                                        <h2 class="order_list_tit">칫솔세트</h2>
                                        <p class="order_list_txt">칫솔1+치약1+물컵1</p>
                                        <p class="order_list_price">5,000원</p>
                                    </div>
                                </div>
                                <div class="order_list_togglebox">
                                    <div class="pm_contbox dis_flex_row dis_flex_row_center">
                                        <a class="pm_cont_btn pm_cont_minus"></a>
                                        <div class="pm_num_box">
                                            <em class="pm_num">00</em>
                                        </div>
                                        <a class="pm_cont_btn pm_cont_plus"></a>
                                    </div>
                                </div>
                            </div>
                            <a class="delete_btn"></a>
                        </li>
                        <li class="order_list_li">
                            <div class="order_list_grp dis_flex_row dis_flex_row_center">
                                <div class="order_list_tbox">
                                    <div class="order_list_imgbox">
                                        <div class="order_list_img"></div>
                                    </div>
                                    <div class="order_list_infobox">
                                        <h2 class="order_list_tit">칫솔세트</h2>
                                        <p class="order_list_txt">칫솔1+치약1+물컵1</p>
                                        <p class="order_list_price">5,000원</p>
                                    </div>
                                </div>
                                <div class="order_list_togglebox">
                                    <div class="pm_contbox dis_flex_row dis_flex_row_center">
                                        <a class="pm_cont_btn pm_cont_minus"></a>
                                        <div class="pm_num_box">
                                            <em class="pm_num">00</em>
                                        </div>
                                        <a class="pm_cont_btn pm_cont_plus"></a>
                                    </div>
                                </div>
                            </div>
                            <a class="delete_btn"></a>
                        </li>
                        <li class="order_list_li">
                            <div class="order_list_grp dis_flex_row dis_flex_row_center">
                                <div class="order_list_tbox">
                                    <div class="order_list_imgbox">
                                        <div class="order_list_img"></div>
                                    </div>
                                    <div class="order_list_infobox">
                                        <h2 class="order_list_tit">칫솔세트</h2>
                                        <p class="order_list_txt">칫솔1+치약1+물컵1</p>
                                        <p class="order_list_price">5,000원</p>
                                    </div>
                                </div>
                                <div class="order_list_togglebox">
                                    <div class="pm_contbox dis_flex_row dis_flex_row_center">
                                        <a class="pm_cont_btn pm_cont_minus"></a>
                                        <div class="pm_num_box">
                                            <em class="pm_num">00</em>
                                        </div>
                                        <a class="pm_cont_btn pm_cont_plus"></a>
                                    </div>
                                </div>
                            </div>
                            <a class="delete_btn"></a>
                        </li> 
                    </ul>
                </div>
                <div class="shop_total_numbox dis_flex_row dis_flex_row_center dis_flex_row_end">
                    <h2 class="shop_total_num_tit">총 <em class="shop_total_num_txt">8</em> 건</h2>
                    <h2 class="shop_total_num_tit">총 금액 <em class="shop_total_num_txt">20,000 원</em></h2>
                </div>
                <a class="all_buy_btn">전체 주문</a>
           </div>
           <a class="shop_bag_btn">
                <span class="shop_bag_icon">
                    <img src="/static/img/mobile/door/shop_bag_icon.png">
                </span>
                <span class="shop_bag_num">10</span>
           </a>
        </div>
	</div>
</body>
</html>