<!DOCTYPE html>

<html>
<head>
<title><%=title%></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />



<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/js/mobile/chat.js"></script>
<script type="text/javascript" src="/js/upload/load-image.all.min.js"></script>
<script type="text/javascript" src="/js/upload/img_upload.js"></script>

<link href="/js/pieProgress/asPieProgress.css" rel="stylesheet" />
<script type="text/javascript" src="/js/pieProgress/jquery-asPieProgress.min.js"></script>

<link href="/js/image-popup/magnific-popup.css" rel="stylesheet" />
<script type="text/javascript" src="/js/image-popup/jquery.magnific-popup.js"></script>

<script type="text/javascript">
	
	$(window).ready(function() {

		$("#connect").on("click", function(){
			$.ajax({
                url:"/bleConnect",
                data:{
                    topic: "oasyss32/20001/501"
                },
                success : function(result){
                    console.log(result);
                }
            });
		});
		$("#openBtn").on("click", function(){
			$.ajax({
                url:"/doorOn",
                data:{
                    topic: "oasyss32/20001/501"
                },
                success : function(result){
                    console.log(result);
                }
            });
		});
        $("#test").on("click", function(){
            $.ajax({
                url:"/ble/mobile/mysql/co",
                data:{
                    xml:"bs_code_insert_key"
                },success:function(res){
                    console.log(res);
                }
            });
        });
	});
    function test(){
        alert("a");
    }
</script>
</head>
<body>
	<div style="margin-top: 300px;">
		<button id="connect">연결</button>
        
		<button id="openBtn">문열기</button>
        <button id="test">테스트</button>
	</div>
</body>
</html>