<!DOCTYPE html>

<html>
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<meta name="format-detection" content="telephone=no" />



<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/ifvisible.js"></script>
<script type="text/javascript" src="/js/mobile/chat.js"></script>
<script type="text/javascript" src="/js/upload/load-image.all.min.js"></script>
<script type="text/javascript" src="/js/upload/img_upload.js"></script>

<link href="/js/pieProgress/asPieProgress.css" rel="stylesheet" />
<script type="text/javascript" src="/js/pieProgress/jquery-asPieProgress.min.js"></script>

<link href="/js/image-popup/magnific-popup.css" rel="stylesheet" />
<script type="text/javascript" src="/js/image-popup/jquery.magnific-popup.js"></script>

<script type="text/javascript">
    var socket = io();
    var bleConnect = false;
    var actionInterver;
    var clickInterver;
    var openClick = false;
    var defaultTime = 0;
    var userTime = false;
    var userUseMsg = "";

    //생명주기 체크
    window.ifvisible.on("blur", function(){
        socket.emit("roomDisConnect");
        socketConnect = false;
        bleConnect = false;
        $("#connect").removeClass("on");
        $("#connect").addClass("disabled");
    });
    window.ifvisible.on("focus", function(){
        first();
    });
    socket.on("disConnect", function(data){
        socketConnect = true;
    });

    function clickCheck(){
        var count = 0;
        clickInterver = setInterval(function(){
            count++;
            if(count > 20){
                openClick = false;
                clearInterval(clickInterver);
                
            }
        }, 1000);
    }
    
    function actionCheck(limit){
        var count = 0;
        actionInterver = setInterval(function(){
            count++;
            if(count > limit){
                clearInterval(actionInterver);
                $("#connect").removeClass("on");
                $("#connect").addClass("disabled");
                Alert("도어락 연결을 확인해 주세요.");
                bleConnect = false;
                $.loading.end();
            }
        }, 1000);
    }
    var mqttInterver;
    function mqttCheck(){
        bleConnectTimerText();
        var mqttCount = 0;
        mqttInterver = setInterval(function(){
            mqttCount++;
            if(mqttCount > 5){
                clearInterval(mqttInterver);
                bleConnectClear();
                Alert("브릿지 연결을 확인해 주세요.");
                bleConnect = false;
                $.loading.end();
            }
        }, 1000);
    }
    socket.on("ble", function(data){
        if(data.msg == "scanstop"){
            Alert("검색된 도어락이 없습니다.\n관리자에게 문의해 주세요.");
            $.loading.end();
        }else if(data.msg == "connect"){
            clearInterval(actionInterver);
            bleConnectClear();
            $("#connect").removeClass("disabled");
            $("#connect").addClass("on");
            Alert("도어락이 연결 되었습니다.");
            bleConnect = true;
            $.loading.end();
            doorStart();
        }else if(data.msg == "disconnect"){
            $("#connect").removeClass("on");
            $("#connect").addClass("disabled");
            bleConnect = false;
            $.loading.end();
            Alert("도어락 연결이 종료 되었습니다.", function(){
            });
            
        }else if(data.msg == "mqttConnect"){
            clearInterval(mqttInterver);
            if(data.state == "0"){
                if(!userTime){Alert(userUseMsg);$.loading.end();return;}
                $.ajax({
                    url:"/bleConnect",
                    data:{
                        topic: "oasyss32/"+topic,
                        open: "0110001",
                        userId: acno+"/"+rspk,
                        rono : pad(rono, 6)
                    },
                    success : function(result){
                        actionCheck(20);
                    }
                });
            }else{
                clearInterval(actionInterver);
                bleConnectClear();
                $("#connect").removeClass("disabled");
                $("#connect").addClass("on");
                bleConnect = true;
                Alert("도어락이 연결 되었습니다.");
                doorStart();
                $.loading.end();
            }
        }else if(data.msg == "open"){
            clearInterval(actionInterver);
            $.loading.end();
            if(data.state == "1"){
                Alert("문이 열렸습니다.");
            }
        }else if(data.msg == "doorTimeSett"){
            clearInterval(actionInterver);
            var put ={
                doorTime:"1",
                rono:rono,
                bsCode:pad(hotelCode, 7),
                user: acno+"/"+rspk
            };
            door_sett(put);
            if(defaultTime == 0){
                $.ajax({
                    url:"/passTimeSett",
                    data:{
                        userId: acno+"/"+rspk,
                        open: "0110001",
                        topic: "oasyss32/"+topic,
                        date:odate
                    }, success:function(res3){
                        actionCheck(10);
                    }
                });
            }else{
                clearInterval(actionInterver);
                $.loading.end();
            }
        }else if(data.msg == "passTimeSett"){
            clearInterval(actionInterver);

            var put ={
                passTime:odate,
                rono:rono,
                bsCode:pad(hotelCode, 7),
                user: acno+"/"+rspk
            };
            door_sett(put);
            $.loading.end();
        }else if(data.msg == "passSett"){
            var pass = $("input[name='passSettInp']").val();
            $("#pass_change_pop").css("display", "none");
            clearInterval(actionInterver);
            $.loading.end();
            var put ={
                pass:pass,
                rono:rono,
                bsCode:pad(hotelCode, 7),
                user: acno+"/"+rspk
            };
            door_sett(put);
            Alert("비밀번호가 설정 되었습니다.", function(){
                
                $(".password_change_tit01").text(pass.at(0));
                $(".password_change_tit02").text(pass.at(1));
                $(".password_change_tit03").text(pass.at(2));
                $(".password_change_tit04").text(pass.at(3));
                openList();
            });
        }
	});
    var acno = "<%=acno%>";
    var hotelCode = "<%=hotelCode%>";
    var rspk = "<%=rspk%>";
    var rono = "<%=rono%>";
    var odate = "";
    var roomName;
    var topic;
    var gname="";
    function init(){
        topic = removePad(hotelCode)+"/"+rono;
        roomName = removePad(hotelCode)+"_"+rono;
        
        $.loading.start("");
        $.ajax({
            url:"./mysql/fo",
            data:{
                xml:"bridge_tran_select",
                acno: acno,
                hotelCode: pad(hotelCode, 7),
                rspk: rspk,
                rono: rono
            },success:function(res){
                if(res.length == 0){
                    $.loading.end();
                    Alert("비정상적인 접근 입니다.",function(){
                        
                        $.loading.start("");
                    });
                    
                }else{
                    $("#layout_logo").attr("src", res[0].BS_LOGO);
                    $("#layout_logo").css("display", "block");
                    $("#layout_title").text(res[0].BS_NAME);
                    $("#idate").text(res[0].BRIDGE_TRAN_IDATE);
                    $("#odate").text(res[0].BRIDGE_TRAN_ODATE);
                    $(".room_num").text(res[0].BRIDGE_TRAN_RONO);
                    gname = res[0].BRIDGE_TRAN_GNAME;
                    odate = res[0].BRIDGE_TRAN_ODATE;
                    $.loading.end();
                    
                    $("#index_con").css("display","block");
                    if(res[0].CHECKIN == '0'){
                        $.loading.end();
                        userUseMsg = "사용기간이 아닙니다.";
                        Alert(userUseMsg);
                        userTime = false;
                    }else if(res[0].BRIDGE_TRAN_KCDA != ""){
                        userTime = false;
                        userUseMsg = "취소된 폰키 입니다.";
                        Alert(userUseMsg);
                    }else{
                        
                        userTime = true;
                        openList();
                        first();
                    }
                    
                    
                }
            }
        });
    }
    function first(){
        $.ajax({
            url:"/socket/room",
            data:{
                name: roomName,
                id: socket.id
            },
            success:function(res){
                if(Number(res.room_size) == 0){
                    socketConnect = true;
                    socket.emit("joinRoom", roomName, gname, "0");
                    
                }else{
                    socketConnect = false;
                }
                doorStart();
            }
        });
    }
    function doorStart(){
        
        $.ajax({
            url:"/mysql/mqtt",
            data:{
                xml: "door_time_check",
                userId: acno+"/"+rspk,
                rono:rono,
                bsCode:pad(hotelCode, 7)
            },success:function(res2){
                
                if(bleConnect){
                    if(res2.length == 0){
                        defaultTime = 0;
                        $.loading.start('도어락 기초 설정 중 입니다.');
                        $.ajax({
                            url:"/doorTimeSett",
                            data:{
                                userId: acno+"/"+rspk,
                                open: "0110001",
                                topic: "oasyss32/"+topic
                            }, success:function(res3){
                                actionCheck(10);
                            }
                        });
                    }else{
                        if(res2[0].ROOM_TIME_PASS == ""){
                            defaultTime = 1;
                            $.loading.start('도어락 기초 설정 중 입니다.');
                            $.ajax({
                                url:"/passTimeSett",
                                data:{
                                    userId: acno+"/"+rspk,
                                    open: "0110001",
                                    topic: "oasyss32/"+topic,
                                    date: odate
                                }, success:function(res3){
                                    actionCheck(10);
                                }
                            });
                        }
                        if(res2[0].ROOM_TIME_DOOR == ""){
                            defaultTime = 2;
                            $.loading.start('도어락 기초 설정 중 입니다.');
                            $.ajax({
                                url:"/doorTimeSett",
                                data:{
                                    userId: acno+"/"+rspk,
                                    open: "0110001",
                                    topic: "oasyss32/"+topic
                                }, success:function(res3){
                                    actionCheck(10);
                                }
                            });
                        }
                        if(res2[0].ROOM_PASS_USER != ""){
                            var pass = res2[0].ROOM_PASS_USER;
                            $(".password_change_tit01").text(pass.at(0));
                            $(".password_change_tit02").text(pass.at(1));
                            $(".password_change_tit03").text(pass.at(2));
                            $(".password_change_tit04").text(pass.at(3));
                        }
                    }
                }else{
                    if(res2.length != 0){
                        if(res2[0].ROOM_PASS_USER != ""){
                            var pass = res2[0].ROOM_PASS_USER;
                            $(".password_change_tit01").text(pass.at(0));
                            $(".password_change_tit02").text(pass.at(1));
                            $(".password_change_tit03").text(pass.at(2));
                            $(".password_change_tit04").text(pass.at(3));
                        }
                    }
                }
            }
        });
    }
    function oDateCheck(){
        $.ajax({
            url:"/mysql/mqtt",
            data:{
                xml: "door_time_check",
                userId: acno+"/"+rspk,
                rono:rono,
                bsCode:pad(hotelCode, 7)
            },success:function(res){
                if(res.length > 0){
                    var setEdate = res[0].ROOM_TIME_PASS;
                    if(setEdate != ""){
                        var oneOdate="";
                        var date = odate;
                        date = date.replace(/-/gi, "");
                        date = date.replace(/ /gi, "");
                        date = date.replace(/PM/gi, "");
                        date = date.replace(/AM/gi, "");
                        date = date.replace(/:/gi, "");

                        var year = date.substring(0,4);
                        var month = date.substring(4,6);
                        var toDate = date.substring(6,8);
                        var hours = date.substring(8,10);
                        var minutes = date.substring(10,12);
                        oneOdate = year+""+month+""+toDate+""+hours+""+minutes;
                        
                        if(setEdate != oneOdate){
                            if(oneOdate > setEdate){
                                $.loading.start('도어락 기초 설정 중 입니다.');
                                $.ajax({
                                    url:"/passTimeSett",
                                    data:{
                                        userId: acno+"/"+rspk,
                                        open: "0110001",
                                        topic: "oasyss32/"+topic,
                                        date: odate
                                    }, success:function(res){
                                        actionCheck(10);
                                    }
                                });
                            }
                            
                        }
                    }
                    defaultTime = 0;
                }
            }
        });
    }
    //도어락 정보 저장
    function door_sett(data){
        $.ajax({
            url:"./doorSett",
            data:data
            , success:function(res){
            }
        });
    }
    var total=0;
    var page = 0;
    var pageSize = 20;
	var timer;
	$(window).scroll(function() { 
		if($(window).scrollTop() + $(window).height() >= $(document).height()) { 
			clearTimeout( timer );
			timer = setTimeout( scroll(), 150 );
		}
	});
	function scroll(){
		page = Number(page)+Number(pageSize);
		if(total <= page){
			page = total;
		}
		openList();
	}
    function openList(){
        if(!userTime){return;}
        $.ajax({
            url: "/mysql/mqtt",
            data:{
                xml: "mqtt_open_list",
                userId: acno+"/"+rspk,
                page: page,
				pageSize: pageSize
            }, success:function(res){
                $(".password_change_ulbox").empty();
                var item = "";
                if(res.length > 0){
                    for(var i=0; i<res.length; i++){
                        var state = res[i].MQTT_ACTION_STATE;
                        var stateName="";
                        if(state == "1"){
                            stateName = "오픈";
                        }else if(state == "15"){
                            stateName = "비밀번호 변경";
                        }
                        item += "<li class='password_change_li'>"
                            + "<div class='password_change_top_tit password_change_top_tit01 dis_flex_row dis_flex_row_center dis_flex_row_end'>"
                            + "<h2>"+res[i].MQTT_ACTION_REQDATE+"</h2>"
                            + "<h2 class='color_ff6066'>"+stateName+"</h2>"
                            + "</div>"
                            + "</li>"
                    }
                    
                    
                }else{

                }
                $(".password_change_ulbox").append(item);
            }
        })
    }
    $(window).ready(function() {
        
        $("#connect").on("click", function(){
            first();
            if(!socketConnect){Alert("현재 사용중인 폰키 입니다.");return;}
            $.loading.start('도어락 연결 중입니다.');
            $.ajax({
                url:"/mqttCheckUser",
                data:{
                    topic: "oasyss32/"+topic,
                    open: "0110001",
                    userId: acno+"/"+rspk,
                    acno: acno,
                    hotelCode: hotelCode,
                    rspk: rspk,
                    rono: rono
                },
                success : function(result){
                    if(typeof result[0] == "undefined"){
                        mqttCheck();
                    }else{
                        if(result[0].CHECKIN == '0'){
                            $.loading.end();
                            userUseMsg = "사용기간이 아닙니다.";
                            Alert(userUseMsg);
                            userTime = false;
                        }else if(result[0].BRIDGE_TRAN_KCDA != ""){
                            $.loading.end();
                            $("#pri_warp").css("display", "none");
                            $("#guide_pop").css("display", "none");
                            userTime = false;
                            userUseMsg = "취소된 폰키 입니다.";
                            Alert(userUseMsg);
                        }else{
                            mqttCheck();
                        }
                    }
                }
            });  
        });
        $(".password_change_btn").on("click", function(){
            if(!userTime){Alert(userUseMsg);return;}
            if(!bleConnect){Alert("도어락을 연결해 주세요.");return;}
            $("#pass_change_pop").css("display", "block");
            oDateCheck();
        });
        $(".popup_bottom_btn_cancel").on("click", function(){
            $("#pass_change_pop").css("display", "none");
        });
        init();

        $("#passSettConfirm").on("click", function(){
            if(!userTime){Alert(userUseMsg);return;}
            if(openClick){Alert("잠시 뒤 시도해 주세요.");return;}
            var pass = $("input[name='passSettInp']").val();
            if(pass.length < 4){
                Alert("4자리 숫자를 입력해 주세요.");
                return;
            }
            $.loading.start('비밀번호를 설정 중 입니다.');
            $.ajax({
                url:"/passSett",
                data:{
                    topic: "oasyss32/"+topic,
                    open: "0110001",
                    userId: acno+"/"+rspk,
                    pass: pass
                },
                success : function(result){
                    actionCheck(10);
                }
            });
        });
    });

</script>
<style>
    html, body{background-color:#fff;}
    .contents{padding:20px; padding-top:80px;}
    .sub_page_tit{font-size: 22px;}
</style>
</head>
<body">
	<div class="contents">
        <div class="sub_page_wrap password_wrap dis_flex_column">
            <div class="sub_page_topbox">
                <div class="ps_btn_grp dis_flex_row dis_flex_row_center">
                    <div class="ps_btn_width ps_btn_width01 dis_flex_row dis_flex_row_center">
                        <div class="sub_page_icon">
                            <img src="/static/img/mobile/door/password_icon.png">
                        </div>
                        <div class="sub_page_tbox">
                            <p class="sub_page_txt">Set Room Password</p>
                            <h2 class="sub_page_tit">객실 비밀번호 설정</h2>
                        </div>
                    </div>
                    <div class="ps_btn_width ps_btn_width02">
                        <button class="room_link_btn disabled" id="connect">
                            <span class="room_link_icon"></span>
                            연결
                        </button>
                    </div>
                </div>
            </div>
            <div class="password_change_box">
                <p class="password_change_txt">현재 비밀번호</p>
                <div class="password_change_grp dis_flex_row dis_flex_row_center dis_flex_row_justify_center">
                    <h2 class="password_change_tit password_change_tit01"></h2>
                    <h2 class="password_change_tit password_change_tit02"></h2>
                    <h2 class="password_change_tit password_change_tit03"></h2>
                    <h2 class="password_change_tit password_change_tit04"></h2>
                    <h2 class="password_change_tit password_change_tit05">#</h2>
                </div>
                <a class="password_change_btn">비밀번호 변경</a>
            </div>
            <div class="password_change_list">
                <ul style="display: none;" class="password_change_tabbox dis_flex_row dis_flex_row_center mb20">
                    <li class="password_change_tab_list password_change_tab_list01 active">
                        <a class="password_change_tab">출입 내역</a>
                    </li>
                    <li class="password_change_tab_list password_change_tab_list02">
                        <a class="password_change_tab">변경 내역</a>
                    </li>
                </ul>
                <div class="password_change_grp">
                    <div style="display: none;" class="password_change_tab_contbox password_change_tab_contbox01">
                        <div class="password_change_top_tbox dis_flex_row dis_flex_row_center">
                            <div class="password_change_top_txt password_change_top_txt01">
                                <p>출입 시간</p> 
                            </div>
                            <div class="password_change_top_txt password_change_top_txt02">
                                <p>출입자</p> 
                            </div>
                            <div class="password_change_top_txt password_change_top_txt03">
                                <p class="color_ff6066">출입 방식</p> 
                            </div>
                        </div>
                        <ul class="password_change_ulbox">
                            <li class="password_change_li dis_flex_row dis_flex_row_center">
                                <div class="password_change_top_tit password_change_top_tit01">
                                    <h2>2022-07-14 PM 16:12:57</h2>
                                </div>
                                <div class="password_change_top_tit password_change_top_tit02">
                                    <h2>35**</h2>
                                </div>
                                <div class="password_change_top_tit password_change_top_tit03">
                                    <h2 class="color_ff6066">비밀번호 입력</h2>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="password_change_tab_contbox password_change_tab_contbox02">
                        <div class="password_change_top_tbox">
                            <div class="password_change_top_txt password_change_top_txt01">
                                <p>동작 내역</p> 
                            </div>
                        </div>
                        <ul class="password_change_ulbox">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 비밀번호 변경 팝업 -->
        <div id="pass_change_pop" style="display: none;" class="popup_wrap">
            <div class="popup_box">
                <div class="popup_tbox">
                    <p class="popup_txt">변경하실 비밀번호를<br>입력해주세요.</p>
                    <!-- <p class="popup_txt color_ff6066">한번 더<br>입력해주세요.</p> -->
                    <div class="popup_input_box">
                        <input name="passSettInp"class="popup_inp door_pass" type="text" placeholder="비밀번호를 입력해주세요.">
                    </div>
                </div>
                <ul class="popup_bottom_box">
                    <li class="popup_bottom_btnbox">
                        <a class="popup_bottom_btn popup_bottom_btn_cancel">취소</a>
                    </li>
                    <li class="popup_bottom_btnbox">
                        <a id="passSettConfirm" class="popup_bottom_btn popup_bottom_btn_save">확인</a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</body>
</html>